In [1]:
import numpy as np
import pandas as pd

In [2]:
inns_df = pd.read_csv('./inn_info_public.csv')
pays_df = pd.read_csv('./pays.csv')

In [3]:
inns_df.head()

   hash_inn  okved2  region  is_public
0     61058      34      86       True
1      8311      18      86       True
2    130273      -1      86      False
3     64081      43      86       True
4    218005      12      86       True

In [4]:
inns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240069 entries, 0 to 240068
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   hash_inn   240069 non-null  int64
 1   okved2     240069 non-null  int64
 2   region     240069 non-null  int64
 3   is_public  240069 non-null  bool
dtypes: bool(1), int64(3)
memory usage: 5.7 MB

In [5]:
pays_df.head()

   hash_inn_kt  hash_inn_dt  week  count      sum
0            0            0     1      4  38399.6
1            0            0     5      2    399.6
2            0            0     7      2     79.6
3            0            0     9      2    239.6
4            0            0    12      2     79.6

In [6]:
pays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5430150 entries, 0 to 5430149
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   hash_inn_kt  int64
 1   hash_inn_dt  int64
 2   week         int64
 3   count        int64
 4   sum          float64
dtypes: float64(1), int64(4)
memory usage: 207.1 MB

In [7]:
print(f'Кол-во уникальных инн в датафрейме инн: {len(inns_df["hash_inn"].unique())}')

print(f'Кол-во уникальных инн в датафрейме платежей по кт: {len(pays_df["hash_inn_kt"].unique())}\n'
      f'Кол-во уникальных инн в датафрейме платежей по дт: {len(pays_df["hash_inn_dt"].unique())}')

Кол-во уникальных инн в датафрейме инн: 240069
Кол-во уникальных инн в датафрейме платежей по кт: 152160
Кол-во уникальных инн в датафрейме платежей по дт: 189772

In [8]:
okveds = inns_df[['hash_inn', 'okved2']]
okveds['hash_inn_kt'] = okveds['hash_inn']
okveds['okved_kt'] = okveds['okved2']

okveds = okveds.rename(columns={'hash_inn': 'hash_inn_dt', 'okved2': 'okved_dt'})

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
pays_df = pd.merge(pays_df, okveds[['hash_inn_kt', 'okved_kt']], how='left', on='hash_inn_kt')
pays_df = pd.merge(pays_df, okveds[['hash_inn_dt', 'okved_dt']], how='left', on='hash_inn_dt')
pays_df.head()

   hash_inn_kt  hash_inn_dt  week  count      sum  okved_kt  okved_dt
0            0            0     1      4  38399.6        -1      -1.0
1            0            0     5      2    399.6        -1      -1.0
2            0            0     7      2     79.6        -1      -1.0
3            0            0     9      2    239.6        -1      -1.0
4            0            0    12      2     79.6        -1      -1.0

In [10]:
pays_df = pays_df.dropna()
pays_df['okved_dt'] = pays_df['okved_dt'].astype('int32')
pays_df['hash_inn_kt'] = pays_df['hash_inn_kt'].astype(str)
pays_df['hash_inn_dt'] = pays_df['hash_inn_dt'].astype(str)

In [11]:
pays_df.head(10)

  hash_inn_kt hash_inn_dt  week  count       sum  okved_kt  okved_dt
0           0           0     1      4  38399.60        -1        -1
1           0           0     5      2    399.60        -1        -1
2           0           0     7      2     79.60        -1        -1
3           0           0     9      2    239.60        -1        -1
4           0           0    12      2     79.60        -1        -1
5           0           0    15      2    399.60        -1        -1
6           0           0    16      2      0.92        -1        -1
7           0           0    20      4   2399.60        -1        -1
8           0           0    21      4      0.80        -1        -1
9           0           0    22      2    239.60        -1        -1

In [12]:
dfs = []

In [13]:
kt_dt_sum = pd.crosstab(pays_df['hash_inn_kt'], 
                        pays_df['okved_dt'], 
                        values=pays_df['sum'], 
                        aggfunc='sum')\
              .fillna(0)\
              .add_prefix('dt_sum_')\
              .reset_index()\
              .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_sum)

dt_kt_sum = pd.crosstab(pays_df['hash_inn_dt'], 
                        pays_df['okved_kt'], 
                        values=pays_df['sum'], 
                        aggfunc='sum')\
              .fillna(0)\
              .add_prefix('kt_sum_')\
              .reset_index()\
              .rename(columns={'hash_inn_dt': 'hash_inn'})

dfs.append(dt_kt_sum)

kt_dt_sum_ratio = pd.crosstab(pays_df['hash_inn_kt'], 
                              pays_df['okved_dt'], 
                              values=pays_df['sum'], 
                              aggfunc='sum')\
                    .fillna(0)\
                    .add_prefix('dt_sum_')\
                    .apply(lambda x: x/x.sum(), axis=1)\
                    .add_suffix('_ratio')\
                    .reset_index()\
                    .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_sum_ratio)

dt_kt_sum_ratio = pd.crosstab(pays_df['hash_inn_dt'], 
                              pays_df['okved_kt'], 
                              values=pays_df['sum'], 
                              aggfunc='sum')\
                    .fillna(0)\
                    .add_prefix('kt_sum_')\
                    .apply(lambda x: x/x.sum(), axis=1)\
                    .add_suffix('_ratio')\
                    .reset_index()\
                    .rename(columns={'hash_inn_dt': 'hash_inn'})
    
dfs.append(dt_kt_sum_ratio)

In [14]:
kt_dt_cnt = pd.crosstab(pays_df['hash_inn_kt'], 
                        pays_df['okved_dt'], 
                        values=pays_df['sum'], 
                        aggfunc='count')\
              .fillna(0)\
              .add_prefix('dt_cnt_')\
              .reset_index()\
              .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_cnt)

dt_kt_cnt = pd.crosstab(pays_df['hash_inn_dt'], 
                        pays_df['okved_kt'], 
                        values=pays_df['sum'], 
                        aggfunc='count')\
              .fillna(0)\
              .add_prefix('kt_cnt_')\
              .reset_index()\
              .rename(columns={'hash_inn_dt': 'hash_inn'})

dfs.append(dt_kt_cnt)

kt_dt_cnt_ratio = pd.crosstab(pays_df['hash_inn_kt'], 
                              pays_df['okved_dt'], 
                              values=pays_df['sum'], 
                              aggfunc='count')\
                    .fillna(0)\
                    .add_prefix('dt_cnt_')\
                    .apply(lambda x: x/x.sum(), axis=1)\
                    .add_suffix('_ratio')\
                   .reset_index()\
                   .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_cnt_ratio)

dt_kt_cnt_ratio = pd.crosstab(pays_df['hash_inn_dt'], 
                              pays_df['okved_kt'], 
                              values=pays_df['sum'], 
                              aggfunc='count')\
                    .fillna(0)\
                    .add_prefix('kt_cnt_')\
                    .apply(lambda x: x/x.sum(), axis=1)\
                    .add_suffix('_ratio')\
                    .reset_index()\
                    .rename(columns={'hash_inn_dt': 'hash_inn'})

dfs.append(dt_kt_cnt_ratio)

In [15]:
kt_dt_week_sum = pd.crosstab(pays_df['hash_inn_kt'], 
                             pays_df['week'], 
                             values=pays_df['sum'], 
                             aggfunc='sum')\
                   .fillna(0)\
                   .add_prefix('dt_week_sum_')\
                   .reset_index()\
                   .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_week_sum)

dt_kt_week_sum = pd.crosstab(pays_df['hash_inn_dt'], 
                             pays_df['week'], 
                             values=pays_df['sum'], 
                             aggfunc='sum')\
                   .fillna(0)\
                   .add_prefix('kt_week_sum_')\
                   .reset_index()\
                   .rename(columns={'hash_inn_dt': 'hash_inn'})

dfs.append(dt_kt_week_sum)

kt_dt_week_sum_ratio = pd.crosstab(pays_df['hash_inn_kt'], 
                                   pays_df['week'], 
                                   values=pays_df['sum'], 
                                   aggfunc='sum')\
                         .fillna(0)\
                         .add_prefix('dt_week_sum_')\
                         .apply(lambda x: x/x.sum(), axis=1)\
                         .add_suffix('_ratio')\
                         .reset_index()\
                         .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_week_sum_ratio)

dt_kt_week_sum_ratio = pd.crosstab(pays_df['hash_inn_dt'], 
                                   pays_df['week'], 
                                   values=pays_df['sum'], 
                                   aggfunc='sum')\
                         .fillna(0)\
                         .add_prefix('kt_week_sum_')\
                         .apply(lambda x: x/x.sum(), axis=1)\
                         .add_suffix('_ratio')\
                         .reset_index()\
                         .rename(columns={'hash_inn_dt': 'hash_inn'})

dfs.append(dt_kt_week_sum_ratio)

In [16]:
%%time

kt_dt_week_cnt = pd.crosstab(pays_df['hash_inn_kt'], 
                             pays_df['week'], 
                             values=pays_df['sum'], 
                             aggfunc='count')\
                   .fillna(0)\
                   .add_prefix('dt_week_cnt_')\
                   .reset_index()\
                   .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_week_cnt)

dt_kt_week_cnt = pd.crosstab(pays_df['hash_inn_dt'], 
                             pays_df['week'], 
                             values=pays_df['sum'], 
                             aggfunc='count')\
                   .fillna(0)\
                   .add_prefix('kt_week_cnt_')\
                   .reset_index()\
                   .rename(columns={'hash_inn_dt': 'hash_inn'})

dfs.append(dt_kt_week_cnt)

kt_dt_week_cnt_ratio = pd.crosstab(pays_df['hash_inn_kt'], 
                                   pays_df['week'], 
                                   values=pays_df['sum'], 
                                   aggfunc='count')\
                         .fillna(0)\
                         .add_prefix('dt_week_cnt_')\
                         .apply(lambda x: x/x.sum(), axis=1)\
                         .add_suffix('_ratio')\
                         .reset_index()\
                         .rename(columns={'hash_inn_kt': 'hash_inn'})

dfs.append(kt_dt_week_cnt_ratio)

dt_kt_week_cnt_ratio = pd.crosstab(pays_df['hash_inn_dt'], 
                                   pays_df['week'], 
                                   values=pays_df['sum'], 
                                   aggfunc='count')\
                         .fillna(0)\
                         .add_prefix('kt_week_cnt_')\
                         .apply(lambda x: x/x.sum(), axis=1)\
                         .add_suffix('_ratio')\
                         .reset_index()\
                         .rename(columns={'hash_inn_dt': 'hash_inn'})

dfs.append(dt_kt_week_cnt_ratio)

CPU times: user 1min 35s, sys: 1.86 s, total: 1min 37s
Wall time: 1min 37s

In [17]:
%%time

df = kt_dt_sum

for i in dfs[1:]:
    df = pd.merge(df, i, how='outer', on='hash_inn')

CPU times: user 10.1 s, sys: 5.34 s, total: 15.4 s
Wall time: 15.6 s

In [18]:
cols_to_del = [i for i in df.columns if '-1' in i]
df.fillna(0, inplace=True)
df.drop(cols_to_del, axis=1, inplace=True)

In [19]:
dt = set(pays_df['hash_inn_dt'].tolist())
kt = set(pays_df['hash_inn_kt'].tolist())

In [20]:
dt & kt

{'7091',
 '75457',
 '243061',
 '194197',
 '248644',
 '105730',
 '129715',
 '127205',
 '147012',
 '132265',
 '148104',
 '57890',
 '100096',
 '241563',
 '248640',
 '166632',
 '77609',
 '243977',
 '137110',
 '104129',
 '62551',
 '22542',
 '58601',
 '76526',
 '140927',
 '245447',
 '21139',
 '203343',
 '206360',
 '57202',
 '16388',
 '162616',
 '55684',
 '40700',
 '116767',
 '177892',
 '17080',
 '146465',
 '102578',
 '80407',
 '35266',
 '128203',
 '188835',
 '199957',
 '132178',
 '2350',
 '210565',
 '131194',
 '175760',
 '144919',
 '34048',
 '181631',
 '167055',
 '4375',
 '202180',
 '212092',
 '215474',
 '235902',
 '204759',
 '244989',
 '245670',
 '151258',
 '228375',
 '61371',
 '194963',
 '38364',
 '192476',
 '255496',
 '3146',
 '250197',
 '55672',
 '93496',
 '150479',
 '72799',
 '170154',
 '152242',
 '243453',
 '77165',
 '76887',
 '190683',
 '258170',
 '17139',
 '42493',
 '116905',
 '53389',
 '191061',
 '202953',
 '2103',
 '239823',
 '259054',
 '231883',
 '15028',
 '65062',
 '68678',
 '259141',
 '234844',
 '155633',
 '25502',
 '181374',
 '15380',
 '238060',
 '104803',
 '118373',
 '244282',
 '101428',
 '21147',
 '102894',
 '112043',
 '256846',
 '84423',
 '146337',
 '186303',
 '127472',
 '215233',
 '225217',
 '2446',
 '108224',
 '88493',
 '217513',
 '244351',
 '6126',
 '23124',
 '185216',
 '93183',
 '170777',
 '195509',
 '220787',
 '112598',
 '18446',
 '112031',
 '250093',
 '1433',
 '198712',
 '219361',
 '99040',
 '26333',
 '33517',
 '231142',
 '133767',
 '127419',
 '60423',
 '147451',
 '26255',
 '227749',
 '13991',
 '78551',
 '45472',
 '229976',
 '200972',
 '142652',
 '192147',
 '193922',
 '65117',
 '114088',
 '140449',
 '31579',
 '183653',
 '2954',
 '221159',
 '52785',
 '167518',
 '211556',
 '257394',
 '258684',
 '2262',
 '63722',
 '197155',
 '54408',
 '242505',
 '121239',
 '207572',
 '223569',
 '251864',
 '130099',
 '69171',
 '20390',
 '154975',
 '77146',
 '56147',
 '122345',
 '151169',
 '109755',
 '260441',
 '245439',
 '180284',
 '207498',
 '200061',
 '165148',
 '139202',
 '247290',
 '140868',
 '67118',
 '142499',
 '228530',
 '172659',
 '176348',
 '192330',
 '248056',
 '146429',
 '21057',
 '25168',
 '78294',
 '158431',
 '141329',
 '224575',
 '156377',
 '222952',
 '190413',
 '258177',
 '22947',
 '86310',
 '59927',
 '224384',
 '164338',
 '94838',
 '215424',
 '145452',
 '172656',
 '95460',
 '232042',
 '173449',
 '83327',
 '173356',
 '214234',
 '26777',
 '82088',
 '231316',
 '67992',
 '27159',
 '131688',
 '149561',
 '84911',
 '174080',
 '173841',
 '149329',
 '12473',
 '13841',
 '256055',
 '192592',
 '28013',
 '133261',
 '158614',
 '16078',
 '9871',
 '247384',
 '129947',
 '120167',
 '225778',
 '220444',
 '241261',
 '209714',
 '258252',
 '151802',
 '184962',
 '2616',
 '213445',
 '19633',
 '61580',
 '250619',
 '108264',
 '259780',
 '180573',
 '233946',
 '72603',
 '79960',
 '61836',
 '121316',
 '137512',
 '171028',
 '88337',
 '23930',
 '41218',
 '93199',
 '184766',
 '7148',
 '214695',
 '199492',
 '199760',
 '177136',
 '142522',
 '219800',
 '87625',
 '136477',
 '199039',
 '199632',
 '210436',
 '233595',
 '113431',
 '87491',
 '96088',
 '184212',
 '255091',
 '93764',
 '254143',
 '191233',
 '250005',
 '219411',
 '142245',
 '96505',
 '222240',
 '230275',
 '135494',
 '254415',
 '56788',
 '150306',
 '164054',
 '42374',
 '202020',
 '225122',
 '32654',
 '189882',
 '176550',
 '113749',
 '72865',
 '155215',
 '218484',
 '61476',
 '82997',
 '252340',
 '94730',
 '19667',
 '176137',
 '203945',
 '193249',
 '248897',
 '10471',
 '44763',
 '222724',
 '182281',
 '170933',
 '211632',
 '169617',
 '57598',
 '198637',
 '191543',
 '163703',
 '239919',
 '186325',
 '77354',
 '39053',
 '131152',
 '105220',
 '133890',
 '136176',
 '173850',
 '178682',
 '120658',
 '117017',
 '56208',
 '98563',
 '208374',
 '158951',
 '202257',
 '57134',
 '32531',
 '221973',
 '13796',
 '88743',
 '128930',
 '72406',
 '26876',
 '255145',
 '242449',
 '67068',
 '89787',
 '217851',
 '97966',
 '63946',
 '74260',
 '13579',
 '13173',
 '118603',
 '157180',
 '150556',
 '190652',
 '148413',
 '25208',
 '231523',
 '171163',
 '183828',
 '1570',
 '51680',
 '184906',
 '204723',
 '197470',
 '134578',
 '153901',
 '65286',
 '151747',
 '182170',
 '156830',
 '210856',
 '136672',
 '32424',
 '83052',
 '56822',
 '56259',
 '147498',
 '24850',
 '53465',
 '86178',
 '200564',
 '56136',
 '46531',
 '126974',
 '33477',
 '177637',
 '193476',
 '162527',
 '159499',
 '167256',
 '65861',
 '8323',
 '13175',
 '85967',
 '68909',
 '112888',
 '150905',
 '78911',
 '155160',
 '233733',
 '75330',
 '216659',
 '72771',
 '49997',
 '10212',
 '63709',
 '124113',
 '245820',
 '125743',
 '233111',
 '138895',
 '260302',
 '5298',
 '64111',
 '140393',
 '156983',
 '178956',
 '77350',
 '139704',
 '129371',
 '16920',
 '81493',
 '27920',
 '1639',
 '241194',
 '140268',
 '119066',
 '27465',
 '125502',
 '210454',
 '60788',
 '257993',
 '137195',
 '93180',
 '251749',
 '85393',
 '12070',
 '38074',
 '6427',
 '93833',
 '59056',
 '178473',
 '175514',
 '147109',
 '213992',
 '50752',
 '202545',
 '238091',
 '92224',
 '248515',
 '256614',
 '119813',
 '212389',
 '57061',
 '97264',
 '13002',
 '84416',
 '27582',
 '16149',
 '117697',
 '153121',
 '188185',
 '260242',
 '134143',
 '50453',
 '40873',
 '27855',
 '127844',
 '186865',
 '109888',
 '238407',
 '256798',
 '91343',
 '104337',
 '48015',
 '178351',
 '36395',
 '233065',
 '251645',
 '234803',
 '177937',
 '89992',
 '190030',
 '48435',
 '30954',
 '104813',
 '55132',
 '97598',
 '51900',
 '169072',
 '74155',
 '238492',
 '626',
 '20417',
 '17142',
 '12840',
 '250300',
 '87203',
 '250215',
 '762',
 '106357',
 '164094',
 '68223',
 '160237',
 '10766',
 '195688',
 '153929',
 '104811',
 '168155',
 '232528',
 '33976',
 '40332',
 '220246',
 '179790',
 '104152',
 '226326',
 '45184',
 '139475',
 '163763',
 '49738',
 '104973',
 '157463',
 '102928',
 '150034',
 '23553',
 '164919',
 '231',
 '246677',
 '252692',
 '153987',
 '156835',
 '211110',
 '58493',
 '30261',
 '53275',
 '98839',
 '37250',
 '118971',
 '68965',
 '242904',
 '259733',
 '200418',
 '153034',
 '232336',
 '211327',
 '204520',
 '162514',
 '143966',
 '15704',
 '140144',
 '79910',
 '126144',
 '24222',
 '143121',
 '77647',
 '36497',
 '101158',
 '169428',
 '176924',
 '180969',
 '225847',
 '187326',
 '253417',
 '222659',
 '48047',
 '246151',
 '12619',
 '211654',
 '254957',
 '206866',
 '253071',
 '210486',
 '36061',
 '176669',
 '204229',
 '135916',
 '110191',
 '58079',
 '231346',
 '115715',
 '43007',
 '67069',
 '109829',
 '224141',
 '75233',
 '195864',
 '145705',
 '122712',
 '224571',
 '219310',
 '215256',
 '248428',
 '156355',
 '51231',
 '139164',
 '236692',
 '260245',
 '59380',
 '164804',
 '75970',
 '105548',
 '173392',
 '52570',
 '66683',
 '153501',
 '52656',
 '121149',
 '136670',
 '67897',
 '201345',
 '250235',
 '107892',
 '186845',
 '141819',
 '229644',
 '236210',
 '187720',
 '88542',
 '136212',
 '107014',
 '32222',
 '64791',
 '18195',
 '91129',
 '94447',
 '232199',
 '76127',
 '23647',
 '144709',
 '153057',
 '236656',
 '193239',
 '9394',
 '205372',
 '54498',
 '155734',
 '164051',
 '102701',
 '55360',
 '36885',
 '178733',
 '176815',
 '217623',
 '58720',
 '256979',
 '171194',
 '215530',
 '108934',
 '171714',
 '251201',
 '144368',
 '97739',
 '65296',
 '138295',
 '146359',
 '186087',
 '236687',
 '143192',
 '125102',
 '108211',
 '6157',
 '48112',
 '104645',
 '4006',
 '60062',
 '233073',
 '105617',
 '234114',
 '60996',
 '253714',
 '20826',
 '47183',
 '111968',
 '174992',
 '190386',
 '245410',
 '190623',
 '251521',
 '46057',
 '10936',
 '48809',
 '88876',
 '57615',
 '105891',
 '15732',
 '242756',
 '52517',
 '130377',
 '26390',
 '186534',
 '199304',
 '235679',
 '258557',
 '112383',
 '65929',
 '64546',
 '86020',
 '42536',
 '231248',
 '158073',
 '58228',
 '149382',
 '150884',
 '176285',
 '237529',
 '211926',
 '245144',
 '159863',
 '82276',
 '157700',
 '178720',
 '44251',
 '237101',
 '171685',
 '190166',
 '30822',
 '45073',
 '238271',
 '119817',
 '106450',
 '57365',
 '83629',
 '153375',
 '242122',
 '109928',
 '114205',
 '59966',
 '181890',
 '153106',
 '229330',
 '18435',
 '81209',
 '141233',
 '179232',
 '260267',
 '63313',
 '145958',
 '221296',
 '175095',
 '230495',
 '53171',
 '53505',
 '175351',
 '194023',
 '30026',
 '172452',
 '221746',
 '93763',
 '145961',
 '71639',
 '143415',
 '239474',
 '21817',
 '179921',
 '20090',
 '75975',
 '220664',
 '41431',
 '107849',
 '110685',
 '114701',
 '241016',
 '189910',
 '69533',
 '109538',
 '234377',
 '240098',
 '143965',
 '67030',
 '8218',
 '41935',
 '42270',
 '241058',
 '188954',
 '169021',
 '259396',
 '39290',
 '244570',
 '36593',
 '149818',
 '225215',
 '103869',
 '5537',
 '24686',
 '179724',
 '172945',
 '120839',
 '186813',
 '92914',
 '128504',
 '79971',
 '43359',
 '58445',
 '144687',
 '208143',
 '12825',
 '41542',
 '152678',
 '37383',
 '103493',
 '66584',
 '124948',
 '27660',
 '115706',
 '139367',
 '65336',
 '48414',
 '118081',
 '222324',
 '112993',
 '224902',
 '72295',
 '245935',
 '25691',
 '102902',
 '242366',
 '30421',
 '75701',
 '158389',
 '186801',
 '49184',
 '77139',
 '237611',
 '122752',
 '254708',
 '209680',
 '12162',
 '249764',
 '58667',
 '68622',
 '75234',
 '188392',
 '217249',
 '139294',
 '178523',
 '117368',
 '175078',
 '121800',
 '242024',
 '66798',
 '240301',
 '77511',
 '113703',
 '237617',
 '258322',
 '38245',
 '30048',
 '168069',
 '28054',
 '95693',
 '199759',
 '219322',
 '7254',
 '30420',
 '220026',
 '245640',
 '109670',
 '129031',
 '12319',
 '96095',
 '213822',
 '4634',
 '243755',
 '42651',
 '5746',
 '22324',
 '156318',
 '258027',
 '41369',
 '169624',
 '196382',
 '244597',
 '77431',
 '238090',
 '95283',
 '239259',
 '15943',
 '3343',
 '12904',
 '31291',
 '115822',
 '202319',
 '27739',
 '136678',
 '145532',
 '242461',
 '95164',
 '168587',
 '102236',
 '184009',
 '96682',
 '107350',
 '147480',
 '64652',
 '239406',
 '19529',
 '43195',
 '20697',
 '251499',
 '254628',
 '39945',
 '250444',
 '125889',
 '9528',
 '178397',
 '163473',
 '160836',
 '113727',
 '172214',
 '219707',
 '127591',
 '209370',
 '242657',
 '89541',
 '257676',
 '109058',
 '64287',
 '76302',
 '172431',
 '180729',
 '10074',
 '178392',
 '88643',
 '244982',
 '152627',
 '1053',
 '174534',
 '75747',
 '234450',
 '129829',
 '69354',
 '64979',
 '60071',
 '122464',
 '209260',
 '49608',
 '123627',
 '219158',
 '163177',
 '120581',
 '130946',
 '6812',
 '52758',
 '97496',
 '75032',
 '21997',
 '121055',
 '225733',
 '10004',
 '221137',
 '181515',
 '30154',
 '69900',
 '75900',
 '218334',
 '25558',
 '31884',
 '53193',
 '8878',
 '37248',
 '13328',
 '225162',
 '247666',
 '43754',
 '202720',
 '179915',
 '244326',
 '76167',
 '84286',
 '93961',
 '226947',
 '82690',
 '179450',
 '190831',
 '39033',
 '86562',
 '165039',
 '131713',
 '143028',
 ...}

In [21]:
df[df['hash_inn']=='176393']

,hash_inn,dt_sum_0,dt_sum_1,dt_sum_2,dt_sum_3,dt_sum_4,dt_sum_5,dt_sum_6,dt_sum_7,dt_sum_8,...,kt_week_cnt_14_ratio,kt_week_cnt_15_ratio,kt_week_cnt_16_ratio,kt_week_cnt_17_ratio,kt_week_cnt_18_ratio,kt_week_cnt_19_ratio,kt_week_cnt_20_ratio,kt_week_cnt_21_ratio,kt_week_cnt_22_ratio,kt_week_cnt_23_ratio
49613,176393,0.0,0.0,0.0,0.0,0.588,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
inns_df['hash_inn'] = inns_df['hash_inn'].astype(str)

In [23]:
df = pd.merge(inns_df[['hash_inn', 'okved2']], df, on='hash_inn', how='left')

In [24]:
df.rename(columns={'okved2': 'target'}, inplace = True)

In [25]:
len([col for col in df.columns if '_ratio' in col])

416

In [ ]:
df[['hash_inn', 'target']+[col for col in df.columns if '_ratio' in col]] \
    .to_csv('okved_pivot_ratio.csv', index=False, header=True)

In [26]:
df.columns.to_list()

['hash_inn',
 'target',
 'dt_sum_0',
 'dt_sum_1',
 'dt_sum_2',
 'dt_sum_3',
 'dt_sum_4',
 'dt_sum_5',
 'dt_sum_6',
 'dt_sum_7',
 'dt_sum_8',
 'dt_sum_9',
 'dt_sum_10',
 'dt_sum_11',
 'dt_sum_12',
 'dt_sum_13',
 'dt_sum_14',
 'dt_sum_15',
 'dt_sum_16',
 'dt_sum_17',
 'dt_sum_18',
 'dt_sum_19',
 'dt_sum_20',
 'dt_sum_21',
 'dt_sum_22',
 'dt_sum_23',
 'dt_sum_24',
 'dt_sum_25',
 'dt_sum_26',
 'dt_sum_27',
 'dt_sum_28',
 'dt_sum_29',
 'dt_sum_30',
 'dt_sum_31',
 'dt_sum_32',
 'dt_sum_33',
 'dt_sum_34',
 'dt_sum_35',
 'dt_sum_36',
 'dt_sum_37',
 'dt_sum_38',
 'dt_sum_39',
 'dt_sum_40',
 'dt_sum_41',
 'dt_sum_42',
 'dt_sum_43',
 'dt_sum_44',
 'dt_sum_45',
 'dt_sum_46',
 'dt_sum_47',
 'dt_sum_48',
 'dt_sum_49',
 'dt_sum_50',
 'dt_sum_51',
 'dt_sum_52',
 'dt_sum_53',
 'dt_sum_54',
 'dt_sum_55',
 'dt_sum_56',
 'dt_sum_57',
 'dt_sum_58',
 'dt_sum_59',
 'dt_sum_60',
 'dt_sum_61',
 'dt_sum_62',
 'dt_sum_63',
 'dt_sum_64',
 'dt_sum_65',
 'dt_sum_66',
 'dt_sum_67',
 'dt_sum_68',
 'dt_sum_69',
 'dt_sum_70',
 'dt_sum_71',
 'dt_sum_72',
 'dt_sum_73',
 'dt_sum_74',
 'dt_sum_75',
 'dt_sum_76',
 'dt_sum_77',
 'dt_sum_78',
 'dt_sum_79',
 'kt_sum_0',
 'kt_sum_1',
 'kt_sum_2',
 'kt_sum_3',
 'kt_sum_4',
 'kt_sum_5',
 'kt_sum_6',
 'kt_sum_7',
 'kt_sum_8',
 'kt_sum_9',
 'kt_sum_10',
 'kt_sum_11',
 'kt_sum_12',
 'kt_sum_13',
 'kt_sum_14',
 'kt_sum_15',
 'kt_sum_16',
 'kt_sum_17',
 'kt_sum_18',
 'kt_sum_19',
 'kt_sum_20',
 'kt_sum_21',
 'kt_sum_22',
 'kt_sum_23',
 'kt_sum_24',
 'kt_sum_25',
 'kt_sum_26',
 'kt_sum_27',
 'kt_sum_28',
 'kt_sum_29',
 'kt_sum_30',
 'kt_sum_31',
 'kt_sum_32',
 'kt_sum_33',
 'kt_sum_34',
 'kt_sum_35',
 'kt_sum_36',
 'kt_sum_37',
 'kt_sum_38',
 'kt_sum_39',
 'kt_sum_40',
 'kt_sum_41',
 'kt_sum_42',
 'kt_sum_43',
 'kt_sum_44',
 'kt_sum_45',
 'kt_sum_46',
 'kt_sum_47',
 'kt_sum_48',
 'kt_sum_49',
 'kt_sum_50',
 'kt_sum_51',
 'kt_sum_52',
 'kt_sum_53',
 'kt_sum_54',
 'kt_sum_55',
 'kt_sum_56',
 'kt_sum_57',
 'kt_sum_58',
 'kt_sum_59',
 'kt_sum_60',
 'kt_sum_61',
 'kt_sum_62',
 'kt_sum_63',
 'kt_sum_64',
 'kt_sum_65',
 'kt_sum_66',
 'kt_sum_67',
 'kt_sum_68',
 'kt_sum_69',
 'kt_sum_70',
 'kt_sum_71',
 'kt_sum_72',
 'kt_sum_73',
 'kt_sum_74',
 'kt_sum_75',
 'kt_sum_76',
 'kt_sum_77',
 'kt_sum_78',
 'kt_sum_79',
 'dt_sum_0_ratio',
 'dt_sum_1_ratio',
 'dt_sum_2_ratio',
 'dt_sum_3_ratio',
 'dt_sum_4_ratio',
 'dt_sum_5_ratio',
 'dt_sum_6_ratio',
 'dt_sum_7_ratio',
 'dt_sum_8_ratio',
 'dt_sum_9_ratio',
 'dt_sum_10_ratio',
 'dt_sum_11_ratio',
 'dt_sum_12_ratio',
 'dt_sum_13_ratio',
 'dt_sum_14_ratio',
 'dt_sum_15_ratio',
 'dt_sum_16_ratio',
 'dt_sum_17_ratio',
 'dt_sum_18_ratio',
 'dt_sum_19_ratio',
 'dt_sum_20_ratio',
 'dt_sum_21_ratio',
 'dt_sum_22_ratio',
 'dt_sum_23_ratio',
 'dt_sum_24_ratio',
 'dt_sum_25_ratio',
 'dt_sum_26_ratio',
 'dt_sum_27_ratio',
 'dt_sum_28_ratio',
 'dt_sum_29_ratio',
 'dt_sum_30_ratio',
 'dt_sum_31_ratio',
 'dt_sum_32_ratio',
 'dt_sum_33_ratio',
 'dt_sum_34_ratio',
 'dt_sum_35_ratio',
 'dt_sum_36_ratio',
 'dt_sum_37_ratio',
 'dt_sum_38_ratio',
 'dt_sum_39_ratio',
 'dt_sum_40_ratio',
 'dt_sum_41_ratio',
 'dt_sum_42_ratio',
 'dt_sum_43_ratio',
 'dt_sum_44_ratio',
 'dt_sum_45_ratio',
 'dt_sum_46_ratio',
 'dt_sum_47_ratio',
 'dt_sum_48_ratio',
 'dt_sum_49_ratio',
 'dt_sum_50_ratio',
 'dt_sum_51_ratio',
 'dt_sum_52_ratio',
 'dt_sum_53_ratio',
 'dt_sum_54_ratio',
 'dt_sum_55_ratio',
 'dt_sum_56_ratio',
 'dt_sum_57_ratio',
 'dt_sum_58_ratio',
 'dt_sum_59_ratio',
 'dt_sum_60_ratio',
 'dt_sum_61_ratio',
 'dt_sum_62_ratio',
 'dt_sum_63_ratio',
 'dt_sum_64_ratio',
 'dt_sum_65_ratio',
 'dt_sum_66_ratio',
 'dt_sum_67_ratio',
 'dt_sum_68_ratio',
 'dt_sum_69_ratio',
 'dt_sum_70_ratio',
 'dt_sum_71_ratio',
 'dt_sum_72_ratio',
 'dt_sum_73_ratio',
 'dt_sum_74_ratio',
 'dt_sum_75_ratio',
 'dt_sum_76_ratio',
 'dt_sum_77_ratio',
 'dt_sum_78_ratio',
 'dt_sum_79_ratio',
 'kt_sum_0_ratio',
 'kt_sum_1_ratio',
 'kt_sum_2_ratio',
 'kt_sum_3_ratio',
 'kt_sum_4_ratio',
 'kt_sum_5_ratio',
 'kt_sum_6_ratio',
 'kt_sum_7_ratio',
 'kt_sum_8_ratio',
 'kt_sum_9_ratio',
 'kt_sum_10_ratio',
 'kt_sum_11_ratio',
 'kt_sum_12_ratio',
 'kt_sum_13_ratio',
 'kt_sum_14_ratio',
 'kt_sum_15_ratio',
 'kt_sum_16_ratio',
 'kt_sum_17_ratio',
 'kt_sum_18_ratio',
 'kt_sum_19_ratio',
 'kt_sum_20_ratio',
 'kt_sum_21_ratio',
 'kt_sum_22_ratio',
 'kt_sum_23_ratio',
 'kt_sum_24_ratio',
 'kt_sum_25_ratio',
 'kt_sum_26_ratio',
 'kt_sum_27_ratio',
 'kt_sum_28_ratio',
 'kt_sum_29_ratio',
 'kt_sum_30_ratio',
 'kt_sum_31_ratio',
 'kt_sum_32_ratio',
 'kt_sum_33_ratio',
 'kt_sum_34_ratio',
 'kt_sum_35_ratio',
 'kt_sum_36_ratio',
 'kt_sum_37_ratio',
 'kt_sum_38_ratio',
 'kt_sum_39_ratio',
 'kt_sum_40_ratio',
 'kt_sum_41_ratio',
 'kt_sum_42_ratio',
 'kt_sum_43_ratio',
 'kt_sum_44_ratio',
 'kt_sum_45_ratio',
 'kt_sum_46_ratio',
 'kt_sum_47_ratio',
 'kt_sum_48_ratio',
 'kt_sum_49_ratio',
 'kt_sum_50_ratio',
 'kt_sum_51_ratio',
 'kt_sum_52_ratio',
 'kt_sum_53_ratio',
 'kt_sum_54_ratio',
 'kt_sum_55_ratio',
 'kt_sum_56_ratio',
 'kt_sum_57_ratio',
 'kt_sum_58_ratio',
 'kt_sum_59_ratio',
 'kt_sum_60_ratio',
 'kt_sum_61_ratio',
 'kt_sum_62_ratio',
 'kt_sum_63_ratio',
 'kt_sum_64_ratio',
 'kt_sum_65_ratio',
 'kt_sum_66_ratio',
 'kt_sum_67_ratio',
 'kt_sum_68_ratio',
 'kt_sum_69_ratio',
 'kt_sum_70_ratio',
 'kt_sum_71_ratio',
 'kt_sum_72_ratio',
 'kt_sum_73_ratio',
 'kt_sum_74_ratio',
 'kt_sum_75_ratio',
 'kt_sum_76_ratio',
 'kt_sum_77_ratio',
 'kt_sum_78_ratio',
 'kt_sum_79_ratio',
 'dt_cnt_0',
 'dt_cnt_1',
 'dt_cnt_2',
 'dt_cnt_3',
 'dt_cnt_4',
 'dt_cnt_5',
 'dt_cnt_6',
 'dt_cnt_7',
 'dt_cnt_8',
 'dt_cnt_9',
 'dt_cnt_10',
 'dt_cnt_11',
 'dt_cnt_12',
 'dt_cnt_13',
 'dt_cnt_14',
 'dt_cnt_15',
 'dt_cnt_16',
 'dt_cnt_17',
 'dt_cnt_18',
 'dt_cnt_19',
 'dt_cnt_20',
 'dt_cnt_21',
 'dt_cnt_22',
 'dt_cnt_23',
 'dt_cnt_24',
 'dt_cnt_25',
 'dt_cnt_26',
 'dt_cnt_27',
 'dt_cnt_28',
 'dt_cnt_29',
 'dt_cnt_30',
 'dt_cnt_31',
 'dt_cnt_32',
 'dt_cnt_33',
 'dt_cnt_34',
 'dt_cnt_35',
 'dt_cnt_36',
 'dt_cnt_37',
 'dt_cnt_38',
 'dt_cnt_39',
 'dt_cnt_40',
 'dt_cnt_41',
 'dt_cnt_42',
 'dt_cnt_43',
 'dt_cnt_44',
 'dt_cnt_45',
 'dt_cnt_46',
 'dt_cnt_47',
 'dt_cnt_48',
 'dt_cnt_49',
 'dt_cnt_50',
 'dt_cnt_51',
 'dt_cnt_52',
 'dt_cnt_53',
 'dt_cnt_54',
 'dt_cnt_55',
 'dt_cnt_56',
 'dt_cnt_57',
 'dt_cnt_58',
 'dt_cnt_59',
 'dt_cnt_60',
 'dt_cnt_61',
 'dt_cnt_62',
 'dt_cnt_63',
 'dt_cnt_64',
 'dt_cnt_65',
 'dt_cnt_66',
 'dt_cnt_67',
 'dt_cnt_68',
 'dt_cnt_69',
 'dt_cnt_70',
 'dt_cnt_71',
 'dt_cnt_72',
 'dt_cnt_73',
 'dt_cnt_74',
 'dt_cnt_75',
 'dt_cnt_76',
 'dt_cnt_77',
 'dt_cnt_78',
 'dt_cnt_79',
 'kt_cnt_0',
 'kt_cnt_1',
 'kt_cnt_2',
 'kt_cnt_3',
 'kt_cnt_4',
 'kt_cnt_5',
 'kt_cnt_6',
 'kt_cnt_7',
 'kt_cnt_8',
 'kt_cnt_9',
 'kt_cnt_10',
 'kt_cnt_11',
 'kt_cnt_12',
 'kt_cnt_13',
 'kt_cnt_14',
 'kt_cnt_15',
 'kt_cnt_16',
 'kt_cnt_17',
 'kt_cnt_18',
 'kt_cnt_19',
 'kt_cnt_20',
 'kt_cnt_21',
 'kt_cnt_22',
 'kt_cnt_23',
 'kt_cnt_24',
 'kt_cnt_25',
 'kt_cnt_26',
 'kt_cnt_27',
 'kt_cnt_28',
 'kt_cnt_29',
 'kt_cnt_30',
 'kt_cnt_31',
 'kt_cnt_32',
 'kt_cnt_33',
 'kt_cnt_34',
 'kt_cnt_35',
 'kt_cnt_36',
 'kt_cnt_37',
 'kt_cnt_38',
 'kt_cnt_39',
 'kt_cnt_40',
 'kt_cnt_41',
 'kt_cnt_42',
 'kt_cnt_43',
 'kt_cnt_44',
 'kt_cnt_45',
 'kt_cnt_46',
 'kt_cnt_47',
 'kt_cnt_48',
 'kt_cnt_49',
 'kt_cnt_50',
 'kt_cnt_51',
 'kt_cnt_52',
 'kt_cnt_53',
 'kt_cnt_54',
 'kt_cnt_55',
 'kt_cnt_56',
 'kt_cnt_57',
 'kt_cnt_58',
 'kt_cnt_59',
 'kt_cnt_60',
 'kt_cnt_61',
 'kt_cnt_62',
 'kt_cnt_63',
 'kt_cnt_64',
 'kt_cnt_65',
 'kt_cnt_66',
 'kt_cnt_67',
 'kt_cnt_68',
 'kt_cnt_69',
 'kt_cnt_70',
 'kt_cnt_71',
 'kt_cnt_72',
 'kt_cnt_73',
 'kt_cnt_74',
 'kt_cnt_75',
 'kt_cnt_76',
 'kt_cnt_77',
 'kt_cnt_78',
 'kt_cnt_79',
 'dt_cnt_0_ratio',
 'dt_cnt_1_ratio',
 'dt_cnt_2_ratio',
 'dt_cnt_3_ratio',
 'dt_cnt_4_ratio',
 'dt_cnt_5_ratio',
 'dt_cnt_6_ratio',
 'dt_cnt_7_ratio',
 'dt_cnt_8_ratio',
 'dt_cnt_9_ratio',
 'dt_cnt_10_ratio',
 'dt_cnt_11_ratio',
 'dt_cnt_12_ratio',
 'dt_cnt_13_ratio',
 'dt_cnt_14_ratio',
 'dt_cnt_15_ratio',
 'dt_cnt_16_ratio',
 'dt_cnt_17_ratio',
 'dt_cnt_18_ratio',
 'dt_cnt_19_ratio',
 'dt_cnt_20_ratio',
 'dt_cnt_21_ratio',
 'dt_cnt_22_ratio',
 'dt_cnt_23_ratio',
 'dt_cnt_24_ratio',
 'dt_cnt_25_ratio',
 'dt_cnt_26_ratio',
 'dt_cnt_27_ratio',
 'dt_cnt_28_ratio',
 'dt_cnt_29_ratio',
 'dt_cnt_30_ratio',
 'dt_cnt_31_ratio',
 'dt_cnt_32_ratio',
 'dt_cnt_33_ratio',
 'dt_cnt_34_ratio',
 'dt_cnt_35_ratio',
 'dt_cnt_36_ratio',
 'dt_cnt_37_ratio',
 'dt_cnt_38_ratio',
 'dt_cnt_39_ratio',
 'dt_cnt_40_ratio',
 'dt_cnt_41_ratio',
 'dt_cnt_42_ratio',
 'dt_cnt_43_ratio',
 'dt_cnt_44_ratio',
 'dt_cnt_45_ratio',
 'dt_cnt_46_ratio',
 'dt_cnt_47_ratio',
 'dt_cnt_48_ratio',
 'dt_cnt_49_ratio',
 'dt_cnt_50_ratio',
 'dt_cnt_51_ratio',
 'dt_cnt_52_ratio',
 'dt_cnt_53_ratio',
 'dt_cnt_54_ratio',
 'dt_cnt_55_ratio',
 'dt_cnt_56_ratio',
 'dt_cnt_57_ratio',
 'dt_cnt_58_ratio',
 'dt_cnt_59_ratio',
 'dt_cnt_60_ratio',
 'dt_cnt_61_ratio',
 'dt_cnt_62_ratio',
 'dt_cnt_63_ratio',
 'dt_cnt_64_ratio',
 'dt_cnt_65_ratio',
 'dt_cnt_66_ratio',
 'dt_cnt_67_ratio',
 'dt_cnt_68_ratio',
 'dt_cnt_69_ratio',
 'dt_cnt_70_ratio',
 'dt_cnt_71_ratio',
 'dt_cnt_72_ratio',
 'dt_cnt_73_ratio',
 'dt_cnt_74_ratio',
 'dt_cnt_75_ratio',
 'dt_cnt_76_ratio',
 'dt_cnt_77_ratio',
 'dt_cnt_78_ratio',
 'dt_cnt_79_ratio',
 'kt_cnt_0_ratio',
 'kt_cnt_1_ratio',
 'kt_cnt_2_ratio',
 'kt_cnt_3_ratio',
 'kt_cnt_4_ratio',
 'kt_cnt_5_ratio',
 'kt_cnt_6_ratio',
 'kt_cnt_7_ratio',
 'kt_cnt_8_ratio',
 'kt_cnt_9_ratio',
 'kt_cnt_10_ratio',
 'kt_cnt_11_ratio',
 'kt_cnt_12_ratio',
 'kt_cnt_13_ratio',
 'kt_cnt_14_ratio',
 'kt_cnt_15_ratio',
 'kt_cnt_16_ratio',
 'kt_cnt_17_ratio',
 'kt_cnt_18_ratio',
 'kt_cnt_19_ratio',
 'kt_cnt_20_ratio',
 'kt_cnt_21_ratio',
 'kt_cnt_22_ratio',
 'kt_cnt_23_ratio',
 'kt_cnt_24_ratio',
 'kt_cnt_25_ratio',
 'kt_cnt_26_ratio',
 'kt_cnt_27_ratio',
 'kt_cnt_28_ratio',
 'kt_cnt_29_ratio',
 'kt_cnt_30_ratio',
 'kt_cnt_31_ratio',
 'kt_cnt_32_ratio',
 'kt_cnt_33_ratio',
 'kt_cnt_34_ratio',
 'kt_cnt_35_ratio',
 'kt_cnt_36_ratio',
 'kt_cnt_37_ratio',
 'kt_cnt_38_ratio',
 'kt_cnt_39_ratio',
 'kt_cnt_40_ratio',
 'kt_cnt_41_ratio',
 'kt_cnt_42_ratio',
 'kt_cnt_43_ratio',
 'kt_cnt_44_ratio',
 'kt_cnt_45_ratio',
 'kt_cnt_46_ratio',
 'kt_cnt_47_ratio',
 'kt_cnt_48_ratio',
 'kt_cnt_49_ratio',
 'kt_cnt_50_ratio',
 'kt_cnt_51_ratio',
 'kt_cnt_52_ratio',
 'kt_cnt_53_ratio',
 'kt_cnt_54_ratio',
 'kt_cnt_55_ratio',
 'kt_cnt_56_ratio',
 'kt_cnt_57_ratio',
 'kt_cnt_58_ratio',
 'kt_cnt_59_ratio',
 'kt_cnt_60_ratio',
 'kt_cnt_61_ratio',
 'kt_cnt_62_ratio',
 'kt_cnt_63_ratio',
 'kt_cnt_64_ratio',
 'kt_cnt_65_ratio',
 'kt_cnt_66_ratio',
 'kt_cnt_67_ratio',
 'kt_cnt_68_ratio',
 'kt_cnt_69_ratio',
 'kt_cnt_70_ratio',
 'kt_cnt_71_ratio',
 'kt_cnt_72_ratio',
 'kt_cnt_73_ratio',
 'kt_cnt_74_ratio',
 'kt_cnt_75_ratio',
 'kt_cnt_76_ratio',
 'kt_cnt_77_ratio',
 'kt_cnt_78_ratio',
 'kt_cnt_79_ratio',
 'dt_week_sum_0',
 'dt_week_sum_1',
 'dt_week_sum_2',
 'dt_week_sum_3',
 'dt_week_sum_4',
 'dt_week_sum_5',
 'dt_week_sum_6',
 'dt_week_sum_7',
 'dt_week_sum_8',
 'dt_week_sum_9',
 'dt_week_sum_10',
 'dt_week_sum_11',
 'dt_week_sum_12',
 'dt_week_sum_13',
 'dt_week_sum_14',
 'dt_week_sum_15',
 'dt_week_sum_16',
 'dt_week_sum_17',
 'dt_week_sum_18',
 'dt_week_sum_19',
 'dt_week_sum_20',
 'dt_week_sum_21',
 'dt_week_sum_22',
 'dt_week_sum_23',
 'kt_week_sum_0',
 'kt_week_sum_1',
 'kt_week_sum_2',
 'kt_week_sum_3',
 'kt_week_sum_4',
 'kt_week_sum_5',
 'kt_week_sum_6',
 'kt_week_sum_7',
 'kt_week_sum_8',
 'kt_week_sum_9',
 'kt_week_sum_10',
 'kt_week_sum_11',
 'kt_week_sum_12',
 'kt_week_sum_13',
 'kt_week_sum_14',
 'kt_week_sum_15',
 'kt_week_sum_16',
 'kt_week_sum_17',
 'kt_week_sum_18',
 'kt_week_sum_19',
 'kt_week_sum_20',
 'kt_week_sum_21',
 'kt_week_sum_22',
 'kt_week_sum_23',
 'dt_week_sum_0_ratio',
 'dt_week_sum_1_ratio',
 'dt_week_sum_2_ratio',
 'dt_week_sum_3_ratio',
 'dt_week_sum_4_ratio',
 'dt_week_sum_5_ratio',
 'dt_week_sum_6_ratio',
 'dt_week_sum_7_ratio',
 'dt_week_sum_8_ratio',
 'dt_week_sum_9_ratio',
 'dt_week_sum_10_ratio',
 'dt_week_sum_11_ratio',
 'dt_week_sum_12_ratio',
 'dt_week_sum_13_ratio',
 'dt_week_sum_14_ratio',
 'dt_week_sum_15_ratio',
 'dt_week_sum_16_ratio',
 'dt_week_sum_17_ratio',
 'dt_week_sum_18_ratio',
 'dt_week_sum_19_ratio',
 'dt_week_sum_20_ratio',
 'dt_week_sum_21_ratio',
 'dt_week_sum_22_ratio',
 'dt_week_sum_23_ratio',
 'kt_week_sum_0_ratio',
 'kt_week_sum_1_ratio',
 'kt_week_sum_2_ratio',
 'kt_week_sum_3_ratio',
 'kt_week_sum_4_ratio',
 'kt_week_sum_5_ratio',
 'kt_week_sum_6_ratio',
 'kt_week_sum_7_ratio',
 'kt_week_sum_8_ratio',
 'kt_week_sum_9_ratio',
 'kt_week_sum_10_ratio',
 'kt_week_sum_11_ratio',
 'kt_week_sum_12_ratio',
 'kt_week_sum_13_ratio',
 'kt_week_sum_14_ratio',
 'kt_week_sum_15_ratio',
 'kt_week_sum_16_ratio',
 'kt_week_sum_17_ratio',
 'kt_week_sum_18_ratio',
 'kt_week_sum_19_ratio',
 'kt_week_sum_20_ratio',
 'kt_week_sum_21_ratio',
 'kt_week_sum_22_ratio',
 'kt_week_sum_23_ratio',
 'dt_week_cnt_0',
 'dt_week_cnt_1',
 'dt_week_cnt_2',
 'dt_week_cnt_3',
 'dt_week_cnt_4',
 'dt_week_cnt_5',
 'dt_week_cnt_6',
 'dt_week_cnt_7',
 'dt_week_cnt_8',
 'dt_week_cnt_9',
 'dt_week_cnt_10',
 'dt_week_cnt_11',
 'dt_week_cnt_12',
 'dt_week_cnt_13',
 'dt_week_cnt_14',
 'dt_week_cnt_15',
 'dt_week_cnt_16',
 'dt_week_cnt_17',
 'dt_week_cnt_18',
 'dt_week_cnt_19',
 'dt_week_cnt_20',
 'dt_week_cnt_21',
 'dt_week_cnt_22',
 'dt_week_cnt_23',
 'kt_week_cnt_0',
 'kt_week_cnt_1',
 'kt_week_cnt_2',
 'kt_week_cnt_3',
 'kt_week_cnt_4',
 'kt_week_cnt_5',
 'kt_week_cnt_6',
 'kt_week_cnt_7',
 'kt_week_cnt_8',
 'kt_week_cnt_9',
 'kt_week_cnt_10',
 'kt_week_cnt_11',
 'kt_week_cnt_12',
 'kt_week_cnt_13',
 'kt_week_cnt_14',
 'kt_week_cnt_15',
 'kt_week_cnt_16',
 'kt_week_cnt_17',
 'kt_week_cnt_18',
 'kt_week_cnt_19',
 'kt_week_cnt_20',
 'kt_week_cnt_21',
 'kt_week_cnt_22',
 'kt_week_cnt_23',
 'dt_week_cnt_0_ratio',
 'dt_week_cnt_1_ratio',
 'dt_week_cnt_2_ratio',
 'dt_week_cnt_3_ratio',
 'dt_week_cnt_4_ratio',
 'dt_week_cnt_5_ratio',
 'dt_week_cnt_6_ratio',
 'dt_week_cnt_7_ratio',
 'dt_week_cnt_8_ratio',
 'dt_week_cnt_9_ratio',
 'dt_week_cnt_10_ratio',
 'dt_week_cnt_11_ratio',
 'dt_week_cnt_12_ratio',
 'dt_week_cnt_13_ratio',
 'dt_week_cnt_14_ratio',
 'dt_week_cnt_15_ratio',
 'dt_week_cnt_16_ratio',
 'dt_week_cnt_17_ratio',
 'dt_week_cnt_18_ratio',
 'dt_week_cnt_19_ratio',
 'dt_week_cnt_20_ratio',
 'dt_week_cnt_21_ratio',
 'dt_week_cnt_22_ratio',
 'dt_week_cnt_23_ratio',
 'kt_week_cnt_0_ratio',
 'kt_week_cnt_1_ratio',
 'kt_week_cnt_2_ratio',
 'kt_week_cnt_3_ratio',
 'kt_week_cnt_4_ratio',
 'kt_week_cnt_5_ratio',
 'kt_week_cnt_6_ratio',
 'kt_week_cnt_7_ratio',
 'kt_week_cnt_8_ratio',
 'kt_week_cnt_9_ratio',
 'kt_week_cnt_10_ratio',
 'kt_week_cnt_11_ratio',
 'kt_week_cnt_12_ratio',
 'kt_week_cnt_13_ratio',
 'kt_week_cnt_14_ratio',
 'kt_week_cnt_15_ratio',
 'kt_week_cnt_16_ratio',
 'kt_week_cnt_17_ratio',
 'kt_week_cnt_18_ratio',
 'kt_week_cnt_19_ratio',
 'kt_week_cnt_20_ratio',
 'kt_week_cnt_21_ratio',
 'kt_week_cnt_22_ratio',
 'kt_week_cnt_23_ratio']

In [29]:
df[['hash_inn', 'target']+[col for col in df.columns if 'kt_cnt' in col and 'ratio' not in col]] \
    .to_csv('okved_kt_cnt.csv', index=False, header=True)