In [1]:
import numpy as np
import pandas as pd
import time
from scipy import sparse
from sklearn.preprocessing import KBinsDiscretizer
from lightfm import LightFM
from lightfm.evaluation import auc_score

from IPython.display import Image
from IPython.core.display import HTML

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

/usr/local/lib/python3.7/site-packages/lightfm/_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn('LightFM was compiled without OpenMP support. '

In [32]:
from os import getuid
from pwd import getpwuid

import datetime
from datetime import datetime as dt
from dateutil.relativedelta import relativedelta
import pandas as pd
import numpy as np
from scipy.sparse import load_npz
import sys
import os

%load_ext autoreload
%autoreload 2

parent_dir = '/Users/korniltsevdmitry/Desktop/python/projects/sber_wallet_okved_okk/okved_test/'
sys.path.append(parent_dir)

from core.utils import random_train_test_split, informed_train_test

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

ImportError: cannot import name 'informed_train_test' from 'core.utils' (/Users/korniltsevdmitry/Desktop/python/projects/sber_wallet_okved_okk/okved_test/core/utils.py)

In [36]:
from core.utils import informed_train_test

[autoreload of core.utils failed: Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/extensions/autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "/usr/local/lib/python3.7/site-packages/IPython/extensions/autoreload.py", line 394, in superreload
    module = reload(module)
  File "/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/imp.py", line 314, in reload
    return importlib.reload(module)
  File "/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 630, in _exec
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/korniltsevdmitry/Desktop/python/projects/sber_wallet_okved_okk/okved_test/core/utils.py", line 3, in <module>
    import matplotlib.pyplot as plt
ModuleNotFoundError: No module named 'matplotlib'
]

ImportError: cannot import name 'informed_train_test' from 'core.utils' (/Users/korniltsevdmitry/Desktop/python/projects/sber_wallet_okved_okk/okved_test/core/utils.py)

In [10]:
import pathlib
pathlib.Path().absolute()

PosixPath('/Users/korniltsevdmitry/Desktop/python/projects/sber_wallet_okved_okk/okved_test/notebooks')

In [17]:
os.getcwd()

'/Users/korniltsevdmitry/Desktop/python/projects/sber_wallet_okved_okk/okved_test/notebooks'

In [24]:
df = pd.read_csv('../data/okved_kt_cnt.csv')
df.head(2)

,hash_inn,target,kt_cnt_0,kt_cnt_1,kt_cnt_2,kt_cnt_3,kt_cnt_4,kt_cnt_5,kt_cnt_6,kt_cnt_7,kt_cnt_8,kt_cnt_9,kt_cnt_10,kt_cnt_11,kt_cnt_12,kt_cnt_13,kt_cnt_14,kt_cnt_15,kt_cnt_16,kt_cnt_17,kt_cnt_18,kt_cnt_19,kt_cnt_20,kt_cnt_21,kt_cnt_22,kt_cnt_23,kt_cnt_24,kt_cnt_25,kt_cnt_26,kt_cnt_27,kt_cnt_28,kt_cnt_29,kt_cnt_30,kt_cnt_31,kt_cnt_32,kt_cnt_33,kt_cnt_34,kt_cnt_35,kt_cnt_36,kt_cnt_37,kt_cnt_38,kt_cnt_39,kt_cnt_40,kt_cnt_41,kt_cnt_42,kt_cnt_43,kt_cnt_44,kt_cnt_45,kt_cnt_46,kt_cnt_47,kt_cnt_48,kt_cnt_49,kt_cnt_50,kt_cnt_51,kt_cnt_52,kt_cnt_53,kt_cnt_54,kt_cnt_55,kt_cnt_56,kt_cnt_57,kt_cnt_58,kt_cnt_59,kt_cnt_60,kt_cnt_61,kt_cnt_62,kt_cnt_63,kt_cnt_64,kt_cnt_65,kt_cnt_66,kt_cnt_67,kt_cnt_68,kt_cnt_69,kt_cnt_70,kt_cnt_71,kt_cnt_72,kt_cnt_73,kt_cnt_74,kt_cnt_75,kt_cnt_76,kt_cnt_77,kt_cnt_78,kt_cnt_79
0,61058,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8311,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Подрежем датасет для скорости

## Explain

Explanation: https://www.machinelearningmastery.ru/recommendation-system-part-1-use-of-collaborative-filtering-and-hybrid-collaborative-content-in-6137ba64ad58/

1. Матрица взаимодействия пользователя с элементом определяет взаимодействие между пользователем (клиентом) с товаром (продуктом), это может быть показано в виде рейтингов фильмов, которые проголосовали клиенты. Однако в случае с ОКВЭД мы не можем получить явный рейтинг из исторических данных. В этом случае, неявно, я принимаю во внимание «ранг по % - доле во Входящих платежах» в качестве рейтинга, Если клиент A купил продукт в 70% случаев и это наибоьший ранг, то мы можем сказать, что клиент A оценил продукт B с наибольшим рейтингом 82 (так как у нас всего 82 ОКВЭДА). Вы также можете принять во внимание бинарные рейтинги, где 1 относится к клиенту A, который купил или 0 как никогда не покупал продукт B. Здесь пригодится Дискретизация значения - разбиение на бины. 
2. Пользователь матрица взаимодействия представляет собой совместную фильтрацию вклада в модель, матрица взаимодействия предмет-объект определяет особенности предметов. Элемент к функциям может быть представлен как продукт для его метаданных, таких как категория продукта, подкатегория или даже любые фрагменты информации. Можно каждый таргет обогатить информацией в каком ОКАТО находится ИНН итд. Эта матрица может добавить контент-вклад в модель.

### Матрица взаимодействия пользователя с предметом

In [11]:
Image(url= "https://www.machinelearningmastery.ru/img/0-973386-204263.png", width=500, height=500)

### Матрица взаимодействия предмет-объект

In [12]:
Image(url= "https://www.machinelearningmastery.ru/img/0-84604-380972.png", width=500, height=500)

## Вариант 1. Возьмем CNT как меру

In [30]:
train, test, raw_train_df = informed_train_test(df.iloc[:3000,], .8)

[autoreload of core.utils failed: Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/extensions/autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "/usr/local/lib/python3.7/site-packages/IPython/extensions/autoreload.py", line 394, in superreload
    module = reload(module)
  File "/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/imp.py", line 314, in reload
    return importlib.reload(module)
  File "/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 630, in _exec
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/korniltsevdmitry/Desktop/python/projects/sber_wallet_okved_okk/okved_test/core/utils.py", line 3, in <module>
    import matplotlib.pyplot as plt
ModuleNotFoundError: No module named 'matplotlib'
]

NameError: name 'informed_train_test' is not defined

In [25]:
user_item_matrix = df[['hash_inn']+[col for col in df.columns if 'kt_cnt' in col]]
user_item_matrix.replace([np.inf, -np.inf, np.nan], 0, inplace=True)
user_item_matrix = user_item_matrix.iloc[:3000,]
user_item_matrix = user_item_matrix.set_index('hash_inn')
user_item_matrix = user_item_matrix.astype(np.int32)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [29]:
user_item_matrix.head(2)

,kt_cnt_0,kt_cnt_1,kt_cnt_2,kt_cnt_3,kt_cnt_4,kt_cnt_5,kt_cnt_6,kt_cnt_7,kt_cnt_8,kt_cnt_9,kt_cnt_10,kt_cnt_11,kt_cnt_12,kt_cnt_13,kt_cnt_14,kt_cnt_15,kt_cnt_16,kt_cnt_17,kt_cnt_18,kt_cnt_19,kt_cnt_20,kt_cnt_21,kt_cnt_22,kt_cnt_23,kt_cnt_24,kt_cnt_25,kt_cnt_26,kt_cnt_27,kt_cnt_28,kt_cnt_29,kt_cnt_30,kt_cnt_31,kt_cnt_32,kt_cnt_33,kt_cnt_34,kt_cnt_35,kt_cnt_36,kt_cnt_37,kt_cnt_38,kt_cnt_39,kt_cnt_40,kt_cnt_41,kt_cnt_42,kt_cnt_43,kt_cnt_44,kt_cnt_45,kt_cnt_46,kt_cnt_47,kt_cnt_48,kt_cnt_49,kt_cnt_50,kt_cnt_51,kt_cnt_52,kt_cnt_53,kt_cnt_54,kt_cnt_55,kt_cnt_56,kt_cnt_57,kt_cnt_58,kt_cnt_59,kt_cnt_60,kt_cnt_61,kt_cnt_62,kt_cnt_63,kt_cnt_64,kt_cnt_65,kt_cnt_66,kt_cnt_67,kt_cnt_68,kt_cnt_69,kt_cnt_70,kt_cnt_71,kt_cnt_72,kt_cnt_73,kt_cnt_74,kt_cnt_75,kt_cnt_76,kt_cnt_77,kt_cnt_78,kt_cnt_79
hash_inn,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
61058,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8311,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
train = df_sum.iloc[:1000,]
test = df_sum.iloc[1001:2000,]

In [11]:
train.head(2)

,hash_inn,target,kt_cnt_0,kt_cnt_1,kt_cnt_2,kt_cnt_3,kt_cnt_4,kt_cnt_5,kt_cnt_6,kt_cnt_7,kt_cnt_8,kt_cnt_9,kt_cnt_10,kt_cnt_11,kt_cnt_12,kt_cnt_13,kt_cnt_14,kt_cnt_15,kt_cnt_16,kt_cnt_17,kt_cnt_18,kt_cnt_19,kt_cnt_20,kt_cnt_21,kt_cnt_22,kt_cnt_23,kt_cnt_24,kt_cnt_25,kt_cnt_26,kt_cnt_27,kt_cnt_28,kt_cnt_29,kt_cnt_30,kt_cnt_31,kt_cnt_32,kt_cnt_33,kt_cnt_34,kt_cnt_35,kt_cnt_36,kt_cnt_37,kt_cnt_38,kt_cnt_39,kt_cnt_40,kt_cnt_41,kt_cnt_42,kt_cnt_43,kt_cnt_44,kt_cnt_45,kt_cnt_46,kt_cnt_47,kt_cnt_48,kt_cnt_49,kt_cnt_50,kt_cnt_51,kt_cnt_52,kt_cnt_53,kt_cnt_54,kt_cnt_55,kt_cnt_56,kt_cnt_57,kt_cnt_58,kt_cnt_59,kt_cnt_60,kt_cnt_61,kt_cnt_62,kt_cnt_63,kt_cnt_64,kt_cnt_65,kt_cnt_66,kt_cnt_67,kt_cnt_68,kt_cnt_69,kt_cnt_70,kt_cnt_71,kt_cnt_72,kt_cnt_73,kt_cnt_74,kt_cnt_75,kt_cnt_76,kt_cnt_77,kt_cnt_78,kt_cnt_79
0,61058,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8311,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
y_train = train['target']
y_test = test['target']
del train['target']
del test['target']

In [21]:
user_to_product_rating_train = pd.melt(train, id_vars=['hash_inn'])
user_to_product_rating_train = user_to_product_rating_train[user_to_product_rating_train['value']>0]

In [24]:
user_to_product_rating_test = pd.melt(test, id_vars=['hash_inn'])
user_to_product_rating_test = user_to_product_rating_test[user_to_product_rating_test['value']>0]

In [22]:
user_to_product_rating_train.head()

     hash_inn  variable  value
38     163471  kt_cnt_0    3.0
120     84816  kt_cnt_0    1.0
158    227455  kt_cnt_0    2.0
168    231014  kt_cnt_0    2.0
379    188116  kt_cnt_0    5.0

In [27]:
users = get_user_list(df, "hash_inn")
items = get_item_list(df, "target")

In [28]:
features = items

In [31]:
# generate mapping, LightFM library can't read other than (integer) index
user_to_index_mapping, index_to_user_mapping, \
           item_to_index_mapping, index_to_item_mapping, \
           feature_to_index_mapping, index_to_feature_mapping = id_mappings(users, items, features)

In [ ]:
user_to_product_interaction_train = get_interaction_matrix(user_to_product_rating_train, "hash_inn", 
                                                    "variable", "value", user_to_index_mapping, item_to_index_mapping)

## Вариант 0. Попробуем создать рейтинг на основе сортировки ОКВЭД по % проникновения в СУММу платежа за период

Примечание метод можно будет усилить другими временными срезами и фичами для таргета

In [69]:
df[[col for col in df.columns if 'kt_sum' in col]].iloc[:2,:8]

,kt_sum_0.0_ratio,kt_sum_1.0_ratio,kt_sum_2.0_ratio,kt_sum_3.0_ratio,kt_sum_4.0_ratio,kt_sum_5.0_ratio,kt_sum_6.0_ratio,kt_sum_7.0_ratio
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
sum_df = df[['hash_inn'] + [col for col in df.columns if 'kt_sum' in col]]
sum_df.replace([np.inf, -np.inf], np.nan, inplace=True)
sum_df.replace(0, np.nan, inplace=True)
# sum_df.fillna(0, inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [110]:
sum_df = pd.melt(sum_df, id_vars=['hash_inn'])

In [102]:
sum_df.head()

   hash_inn        variable  value
0     61058  kt_sum_0_ratio 0.0000
1      8311  kt_sum_0_ratio 0.0000
2    130273  kt_sum_0_ratio 0.0000
3     64081  kt_sum_0_ratio 0.0000
4    218005  kt_sum_0_ratio 0.0000

In [85]:
pd.set_option('display.float_format', '{:.4f}'.format)

In [103]:
sum_df[sum_df['hash_inn']==163471].value.sum()

0.4371799291556422

In [104]:
sum_df[(sum_df['hash_inn']==163471) & (sum_df['value']>0)]

          hash_inn         variable  value
38          163471   kt_sum_0_ratio 0.0047
960314      163471   kt_sum_4_ratio 0.0001
1440452     163471   kt_sum_6_ratio 0.0005
1920590     163471   kt_sum_8_ratio 0.0068
2160659     163471   kt_sum_9_ratio 0.0015
2640797     163471  kt_sum_11_ratio 0.0024
2880866     163471  kt_sum_12_ratio 0.2567
4321280     163471  kt_sum_18_ratio 0.0002
6721970     163471  kt_sum_28_ratio 0.0006
6962039     163471  kt_sum_29_ratio 0.0004
7202108     163471  kt_sum_30_ratio 0.0461
8162384     163471  kt_sum_34_ratio 0.0108
9122660     163471  kt_sum_38_ratio 0.0031
10082936    163471  kt_sum_42_ratio 0.0124
10803143    163471  kt_sum_45_ratio 0.0005
11043212    163471  kt_sum_46_ratio 0.0034
11523350    163471  kt_sum_48_ratio 0.0094
12003488    163471  kt_sum_50_ratio 0.0326
12483626    163471  kt_sum_52_ratio 0.0052
12723695    163471  kt_sum_53_ratio 0.0011
13203833    163471  kt_sum_55_ratio 0.0004
13443902    163471  kt_sum_56_ratio 0.0104
14644247    163471  kt_sum_61_ratio 0.0077
16084661    163471  kt_sum_67_ratio 0.0003
16324730    163471  kt_sum_68_ratio 0.0021
16804868    163471  kt_sum_70_ratio 0.0034
17765144    163471  kt_sum_74_ratio 0.0130
18965489    163471  kt_sum_79_ratio 0.0012

In [96]:
cond = ((sum_df['hash_inn']==163471) & (sum_df['value']>0))

In [111]:
sum_df[sum_df['hash_inn']==163471]

            hash_inn         variable  value
38       163471.0000   kt_sum_0_ratio 0.0047
240107   163471.0000   kt_sum_1_ratio    nan
480176   163471.0000   kt_sum_2_ratio    nan
720245   163471.0000   kt_sum_3_ratio    nan
960314   163471.0000   kt_sum_4_ratio 0.0001
1200383  163471.0000   kt_sum_5_ratio    nan
1440452  163471.0000   kt_sum_6_ratio 0.0005
1680521  163471.0000   kt_sum_7_ratio    nan
1920590  163471.0000   kt_sum_8_ratio 0.0068
2160659  163471.0000   kt_sum_9_ratio 0.0015
2400728  163471.0000  kt_sum_10_ratio    nan
2640797  163471.0000  kt_sum_11_ratio 0.0024
2880866  163471.0000  kt_sum_12_ratio 0.2567
3120935  163471.0000  kt_sum_13_ratio    nan
3361004  163471.0000  kt_sum_14_ratio    nan
3601073  163471.0000  kt_sum_15_ratio    nan
3841142  163471.0000  kt_sum_16_ratio    nan
4081211  163471.0000  kt_sum_17_ratio    nan
4321280  163471.0000  kt_sum_18_ratio 0.0002
4561349  163471.0000  kt_sum_19_ratio    nan
4801418  163471.0000  kt_sum_20_ratio    nan
5041487  163471.0000  kt_sum_21_ratio    nan
5281556  163471.0000  kt_sum_22_ratio    nan
5521625  163471.0000  kt_sum_23_ratio    nan
5761694  163471.0000  kt_sum_24_ratio    nan
6001763  163471.0000  kt_sum_25_ratio    nan
6241832  163471.0000  kt_sum_26_ratio    nan
6481901  163471.0000  kt_sum_27_ratio    nan
6721970  163471.0000  kt_sum_28_ratio 0.0006
6962039  163471.0000  kt_sum_29_ratio 0.0004
7202108  163471.0000  kt_sum_30_ratio 0.0461
7442177  163471.0000  kt_sum_31_ratio    nan
7682246  163471.0000  kt_sum_32_ratio    nan
7922315  163471.0000  kt_sum_33_ratio    nan
8162384  163471.0000  kt_sum_34_ratio 0.0108
8402453  163471.0000  kt_sum_35_ratio    nan
8642522  163471.0000  kt_sum_36_ratio    nan
8882591  163471.0000  kt_sum_37_ratio    nan
9122660  163471.0000  kt_sum_38_ratio 0.0031
9362729  163471.0000  kt_sum_39_ratio    nan
9602798  163471.0000  kt_sum_40_ratio    nan
9842867  163471.0000  kt_sum_41_ratio    nan
10082936 163471.0000  kt_sum_42_ratio 0.0124
10323005 163471.0000  kt_sum_43_ratio    nan
10563074 163471.0000  kt_sum_44_ratio    nan
10803143 163471.0000  kt_sum_45_ratio 0.0005
11043212 163471.0000  kt_sum_46_ratio 0.0034
11283281 163471.0000  kt_sum_47_ratio    nan
11523350 163471.0000  kt_sum_48_ratio 0.0094
11763419 163471.0000  kt_sum_49_ratio    nan
12003488 163471.0000  kt_sum_50_ratio 0.0326
12243557 163471.0000  kt_sum_51_ratio    nan
12483626 163471.0000  kt_sum_52_ratio 0.0052
12723695 163471.0000  kt_sum_53_ratio 0.0011
12963764 163471.0000  kt_sum_54_ratio    nan
13203833 163471.0000  kt_sum_55_ratio 0.0004
13443902 163471.0000  kt_sum_56_ratio 0.0104
13683971 163471.0000  kt_sum_57_ratio    nan
13924040 163471.0000  kt_sum_58_ratio    nan
14164109 163471.0000  kt_sum_59_ratio    nan
14404178 163471.0000  kt_sum_60_ratio    nan
14644247 163471.0000  kt_sum_61_ratio 0.0077
14884316 163471.0000  kt_sum_62_ratio    nan
15124385 163471.0000  kt_sum_63_ratio    nan
15364454 163471.0000  kt_sum_64_ratio    nan
15604523 163471.0000  kt_sum_65_ratio    nan
15844592 163471.0000  kt_sum_66_ratio    nan
16084661 163471.0000  kt_sum_67_ratio 0.0003
16324730 163471.0000  kt_sum_68_ratio 0.0021
16564799 163471.0000  kt_sum_69_ratio    nan
16804868 163471.0000  kt_sum_70_ratio 0.0034
17044937 163471.0000  kt_sum_71_ratio    nan
17285006 163471.0000  kt_sum_72_ratio    nan
17525075 163471.0000  kt_sum_73_ratio    nan
17765144 163471.0000  kt_sum_74_ratio 0.0130
18005213 163471.0000  kt_sum_75_ratio    nan
18245282 163471.0000  kt_sum_76_ratio    nan
18485351 163471.0000  kt_sum_77_ratio    nan
18725420 163471.0000  kt_sum_78_ratio    nan
18965489 163471.0000  kt_sum_79_ratio 0.0012

In [112]:
sum_df[sum_df['hash_inn']==163471]['value'].rank(method='max')

38         17.0000
240107         nan
480176         nan
720245         nan
960314      1.0000
1200383        nan
1440452     6.0000
1680521        nan
1920590    19.0000
2160659    11.0000
2400728        nan
2640797    13.0000
2880866    28.0000
3120935        nan
3361004        nan
3601073        nan
3841142        nan
4081211        nan
4321280     2.0000
4561349        nan
4801418        nan
5041487        nan
5281556        nan
5521625        nan
5761694        nan
6001763        nan
6241832        nan
6481901        nan
6721970     8.0000
6962039     4.0000
7202108    27.0000
7442177        nan
7682246        nan
7922315        nan
8162384    23.0000
8402453        nan
8642522        nan
8882591        nan
9122660    14.0000
9362729        nan
9602798        nan
9842867        nan
10082936   24.0000
10323005       nan
10563074       nan
10803143    7.0000
11043212   15.0000
11283281       nan
11523350   21.0000
11763419       nan
12003488   26.0000
12243557       nan
12483626   18.0000
12723695    9.0000
12963764       nan
13203833    5.0000
13443902   22.0000
13683971       nan
13924040       nan
14164109       nan
14404178       nan
14644247   20.0000
14884316       nan
15124385       nan
15364454       nan
15604523       nan
15844592       nan
16084661    3.0000
16324730   12.0000
16564799       nan
16804868   16.0000
17044937       nan
17285006       nan
17525075       nan
17765144   25.0000
18005213       nan
18245282       nan
18485351       nan
18725420       nan
18965489   10.0000
Name: value, dtype: float64

In [87]:
sum_df[sum_df['value']>0]

          hash_inn         variable  value
38          163471   kt_sum_0_ratio 0.0047
120          84816   kt_sum_0_ratio 0.0000
158         227455   kt_sum_0_ratio 0.0001
168         231014   kt_sum_0_ratio 0.0005
379         188116   kt_sum_0_ratio 0.0742
...            ...              ...    ...
19205020    173521  kt_sum_79_ratio 0.0024
19205264    243499  kt_sum_79_ratio 0.0033
19205313     62529  kt_sum_79_ratio 0.0000
19205382    106833  kt_sum_79_ratio 1.0000
19205386     84982  kt_sum_79_ratio 1.0000

[532482 rows x 3 columns]

In [71]:
df.iloc[:2,:8]

,kt_sum_0.0_ratio,kt_sum_1.0_ratio,kt_sum_2.0_ratio,kt_sum_3.0_ratio,kt_sum_4.0_ratio,kt_sum_5.0_ratio,kt_sum_6.0_ratio,kt_sum_7.0_ratio
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
df.columns.to_list()

['hash_inn',
 'target',
 'dt_sum_0_ratio',
 'dt_sum_1_ratio',
 'dt_sum_2_ratio',
 'dt_sum_3_ratio',
 'dt_sum_4_ratio',
 'dt_sum_5_ratio',
 'dt_sum_6_ratio',
 'dt_sum_7_ratio',
 'dt_sum_8_ratio',
 'dt_sum_9_ratio',
 'dt_sum_10_ratio',
 'dt_sum_11_ratio',
 'dt_sum_12_ratio',
 'dt_sum_13_ratio',
 'dt_sum_14_ratio',
 'dt_sum_15_ratio',
 'dt_sum_16_ratio',
 'dt_sum_17_ratio',
 'dt_sum_18_ratio',
 'dt_sum_19_ratio',
 'dt_sum_20_ratio',
 'dt_sum_21_ratio',
 'dt_sum_22_ratio',
 'dt_sum_23_ratio',
 'dt_sum_24_ratio',
 'dt_sum_25_ratio',
 'dt_sum_26_ratio',
 'dt_sum_27_ratio',
 'dt_sum_28_ratio',
 'dt_sum_29_ratio',
 'dt_sum_30_ratio',
 'dt_sum_31_ratio',
 'dt_sum_32_ratio',
 'dt_sum_33_ratio',
 'dt_sum_34_ratio',
 'dt_sum_35_ratio',
 'dt_sum_36_ratio',
 'dt_sum_37_ratio',
 'dt_sum_38_ratio',
 'dt_sum_39_ratio',
 'dt_sum_40_ratio',
 'dt_sum_41_ratio',
 'dt_sum_42_ratio',
 'dt_sum_43_ratio',
 'dt_sum_44_ratio',
 'dt_sum_45_ratio',
 'dt_sum_46_ratio',
 'dt_sum_47_ratio',
 'dt_sum_48_ratio',
 'dt_sum_49_ratio',
 'dt_sum_50_ratio',
 'dt_sum_51_ratio',
 'dt_sum_52_ratio',
 'dt_sum_53_ratio',
 'dt_sum_54_ratio',
 'dt_sum_55_ratio',
 'dt_sum_56_ratio',
 'dt_sum_57_ratio',
 'dt_sum_58_ratio',
 'dt_sum_59_ratio',
 'dt_sum_60_ratio',
 'dt_sum_61_ratio',
 'dt_sum_62_ratio',
 'dt_sum_63_ratio',
 'dt_sum_64_ratio',
 'dt_sum_65_ratio',
 'dt_sum_66_ratio',
 'dt_sum_67_ratio',
 'dt_sum_68_ratio',
 'dt_sum_69_ratio',
 'dt_sum_70_ratio',
 'dt_sum_71_ratio',
 'dt_sum_72_ratio',
 'dt_sum_73_ratio',
 'dt_sum_74_ratio',
 'dt_sum_75_ratio',
 'dt_sum_76_ratio',
 'dt_sum_77_ratio',
 'dt_sum_78_ratio',
 'dt_sum_79_ratio',
 'kt_sum_0.0_ratio',
 'kt_sum_1.0_ratio',
 'kt_sum_2.0_ratio',
 'kt_sum_3.0_ratio',
 'kt_sum_4.0_ratio',
 'kt_sum_5.0_ratio',
 'kt_sum_6.0_ratio',
 'kt_sum_7.0_ratio',
 'kt_sum_8.0_ratio',
 'kt_sum_9.0_ratio',
 'kt_sum_10.0_ratio',
 'kt_sum_11.0_ratio',
 'kt_sum_12.0_ratio',
 'kt_sum_13.0_ratio',
 'kt_sum_14.0_ratio',
 'kt_sum_15.0_ratio',
 'kt_sum_16.0_ratio',
 'kt_sum_17.0_ratio',
 'kt_sum_18.0_ratio',
 'kt_sum_19.0_ratio',
 'kt_sum_20.0_ratio',
 'kt_sum_21.0_ratio',
 'kt_sum_22.0_ratio',
 'kt_sum_23.0_ratio',
 'kt_sum_24.0_ratio',
 'kt_sum_25.0_ratio',
 'kt_sum_26.0_ratio',
 'kt_sum_27.0_ratio',
 'kt_sum_28.0_ratio',
 'kt_sum_29.0_ratio',
 'kt_sum_30.0_ratio',
 'kt_sum_31.0_ratio',
 'kt_sum_32.0_ratio',
 'kt_sum_33.0_ratio',
 'kt_sum_34.0_ratio',
 'kt_sum_35.0_ratio',
 'kt_sum_36.0_ratio',
 'kt_sum_37.0_ratio',
 'kt_sum_38.0_ratio',
 'kt_sum_39.0_ratio',
 'kt_sum_40.0_ratio',
 'kt_sum_41.0_ratio',
 'kt_sum_42.0_ratio',
 'kt_sum_43.0_ratio',
 'kt_sum_44.0_ratio',
 'kt_sum_45.0_ratio',
 'kt_sum_46.0_ratio',
 'kt_sum_47.0_ratio',
 'kt_sum_48.0_ratio',
 'kt_sum_49.0_ratio',
 'kt_sum_50.0_ratio',
 'kt_sum_51.0_ratio',
 'kt_sum_52.0_ratio',
 'kt_sum_53.0_ratio',
 'kt_sum_54.0_ratio',
 'kt_sum_55.0_ratio',
 'kt_sum_56.0_ratio',
 'kt_sum_57.0_ratio',
 'kt_sum_58.0_ratio',
 'kt_sum_59.0_ratio',
 'kt_sum_60.0_ratio',
 'kt_sum_61.0_ratio',
 'kt_sum_62.0_ratio',
 'kt_sum_63.0_ratio',
 'kt_sum_64.0_ratio',
 'kt_sum_65.0_ratio',
 'kt_sum_66.0_ratio',
 'kt_sum_67.0_ratio',
 'kt_sum_68.0_ratio',
 'kt_sum_69.0_ratio',
 'kt_sum_70.0_ratio',
 'kt_sum_71.0_ratio',
 'kt_sum_72.0_ratio',
 'kt_sum_73.0_ratio',
 'kt_sum_74.0_ratio',
 'kt_sum_75.0_ratio',
 'kt_sum_76.0_ratio',
 'kt_sum_77.0_ratio',
 'kt_sum_78.0_ratio',
 'kt_sum_79.0_ratio',
 'dt_cnt_0_ratio',
 'dt_cnt_1_ratio',
 'dt_cnt_2_ratio',
 'dt_cnt_3_ratio',
 'dt_cnt_4_ratio',
 'dt_cnt_5_ratio',
 'dt_cnt_6_ratio',
 'dt_cnt_7_ratio',
 'dt_cnt_8_ratio',
 'dt_cnt_9_ratio',
 'dt_cnt_10_ratio',
 'dt_cnt_11_ratio',
 'dt_cnt_12_ratio',
 'dt_cnt_13_ratio',
 'dt_cnt_14_ratio',
 'dt_cnt_15_ratio',
 'dt_cnt_16_ratio',
 'dt_cnt_17_ratio',
 'dt_cnt_18_ratio',
 'dt_cnt_19_ratio',
 'dt_cnt_20_ratio',
 'dt_cnt_21_ratio',
 'dt_cnt_22_ratio',
 'dt_cnt_23_ratio',
 'dt_cnt_24_ratio',
 'dt_cnt_25_ratio',
 'dt_cnt_26_ratio',
 'dt_cnt_27_ratio',
 'dt_cnt_28_ratio',
 'dt_cnt_29_ratio',
 'dt_cnt_30_ratio',
 'dt_cnt_31_ratio',
 'dt_cnt_32_ratio',
 'dt_cnt_33_ratio',
 'dt_cnt_34_ratio',
 'dt_cnt_35_ratio',
 'dt_cnt_36_ratio',
 'dt_cnt_37_ratio',
 'dt_cnt_38_ratio',
 'dt_cnt_39_ratio',
 'dt_cnt_40_ratio',
 'dt_cnt_41_ratio',
 'dt_cnt_42_ratio',
 'dt_cnt_43_ratio',
 'dt_cnt_44_ratio',
 'dt_cnt_45_ratio',
 'dt_cnt_46_ratio',
 'dt_cnt_47_ratio',
 'dt_cnt_48_ratio',
 'dt_cnt_49_ratio',
 'dt_cnt_50_ratio',
 'dt_cnt_51_ratio',
 'dt_cnt_52_ratio',
 'dt_cnt_53_ratio',
 'dt_cnt_54_ratio',
 'dt_cnt_55_ratio',
 'dt_cnt_56_ratio',
 'dt_cnt_57_ratio',
 'dt_cnt_58_ratio',
 'dt_cnt_59_ratio',
 'dt_cnt_60_ratio',
 'dt_cnt_61_ratio',
 'dt_cnt_62_ratio',
 'dt_cnt_63_ratio',
 'dt_cnt_64_ratio',
 'dt_cnt_65_ratio',
 'dt_cnt_66_ratio',
 'dt_cnt_67_ratio',
 'dt_cnt_68_ratio',
 'dt_cnt_69_ratio',
 'dt_cnt_70_ratio',
 'dt_cnt_71_ratio',
 'dt_cnt_72_ratio',
 'dt_cnt_73_ratio',
 'dt_cnt_74_ratio',
 'dt_cnt_75_ratio',
 'dt_cnt_76_ratio',
 'dt_cnt_77_ratio',
 'dt_cnt_78_ratio',
 'dt_cnt_79_ratio',
 'kt_cnt_0.0_ratio',
 'kt_cnt_1.0_ratio',
 'kt_cnt_2.0_ratio',
 'kt_cnt_3.0_ratio',
 'kt_cnt_4.0_ratio',
 'kt_cnt_5.0_ratio',
 'kt_cnt_6.0_ratio',
 'kt_cnt_7.0_ratio',
 'kt_cnt_8.0_ratio',
 'kt_cnt_9.0_ratio',
 'kt_cnt_10.0_ratio',
 'kt_cnt_11.0_ratio',
 'kt_cnt_12.0_ratio',
 'kt_cnt_13.0_ratio',
 'kt_cnt_14.0_ratio',
 'kt_cnt_15.0_ratio',
 'kt_cnt_16.0_ratio',
 'kt_cnt_17.0_ratio',
 'kt_cnt_18.0_ratio',
 'kt_cnt_19.0_ratio',
 'kt_cnt_20.0_ratio',
 'kt_cnt_21.0_ratio',
 'kt_cnt_22.0_ratio',
 'kt_cnt_23.0_ratio',
 'kt_cnt_24.0_ratio',
 'kt_cnt_25.0_ratio',
 'kt_cnt_26.0_ratio',
 'kt_cnt_27.0_ratio',
 'kt_cnt_28.0_ratio',
 'kt_cnt_29.0_ratio',
 'kt_cnt_30.0_ratio',
 'kt_cnt_31.0_ratio',
 'kt_cnt_32.0_ratio',
 'kt_cnt_33.0_ratio',
 'kt_cnt_34.0_ratio',
 'kt_cnt_35.0_ratio',
 'kt_cnt_36.0_ratio',
 'kt_cnt_37.0_ratio',
 'kt_cnt_38.0_ratio',
 'kt_cnt_39.0_ratio',
 'kt_cnt_40.0_ratio',
 'kt_cnt_41.0_ratio',
 'kt_cnt_42.0_ratio',
 'kt_cnt_43.0_ratio',
 'kt_cnt_44.0_ratio',
 'kt_cnt_45.0_ratio',
 'kt_cnt_46.0_ratio',
 'kt_cnt_47.0_ratio',
 'kt_cnt_48.0_ratio',
 'kt_cnt_49.0_ratio',
 'kt_cnt_50.0_ratio',
 'kt_cnt_51.0_ratio',
 'kt_cnt_52.0_ratio',
 'kt_cnt_53.0_ratio',
 'kt_cnt_54.0_ratio',
 'kt_cnt_55.0_ratio',
 'kt_cnt_56.0_ratio',
 'kt_cnt_57.0_ratio',
 'kt_cnt_58.0_ratio',
 'kt_cnt_59.0_ratio',
 'kt_cnt_60.0_ratio',
 'kt_cnt_61.0_ratio',
 'kt_cnt_62.0_ratio',
 'kt_cnt_63.0_ratio',
 'kt_cnt_64.0_ratio',
 'kt_cnt_65.0_ratio',
 'kt_cnt_66.0_ratio',
 'kt_cnt_67.0_ratio',
 'kt_cnt_68.0_ratio',
 'kt_cnt_69.0_ratio',
 'kt_cnt_70.0_ratio',
 'kt_cnt_71.0_ratio',
 'kt_cnt_72.0_ratio',
 'kt_cnt_73.0_ratio',
 'kt_cnt_74.0_ratio',
 'kt_cnt_75.0_ratio',
 'kt_cnt_76.0_ratio',
 'kt_cnt_77.0_ratio',
 'kt_cnt_78.0_ratio',
 'kt_cnt_79.0_ratio',
 'dt_week_sum_0_ratio',
 'dt_week_sum_1_ratio',
 'dt_week_sum_2_ratio',
 'dt_week_sum_3_ratio',
 'dt_week_sum_4_ratio',
 'dt_week_sum_5_ratio',
 'dt_week_sum_6_ratio',
 'dt_week_sum_7_ratio',
 'dt_week_sum_8_ratio',
 'dt_week_sum_9_ratio',
 'dt_week_sum_10_ratio',
 'dt_week_sum_11_ratio',
 'dt_week_sum_12_ratio',
 'dt_week_sum_13_ratio',
 'dt_week_sum_14_ratio',
 'dt_week_sum_15_ratio',
 'dt_week_sum_16_ratio',
 'dt_week_sum_17_ratio',
 'dt_week_sum_18_ratio',
 'dt_week_sum_19_ratio',
 'dt_week_sum_20_ratio',
 'dt_week_sum_21_ratio',
 'dt_week_sum_22_ratio',
 'dt_week_sum_23_ratio',
 'kt_week_sum_0_ratio',
 'kt_week_sum_1_ratio',
 'kt_week_sum_2_ratio',
 'kt_week_sum_3_ratio',
 'kt_week_sum_4_ratio',
 'kt_week_sum_5_ratio',
 'kt_week_sum_6_ratio',
 'kt_week_sum_7_ratio',
 'kt_week_sum_8_ratio',
 'kt_week_sum_9_ratio',
 'kt_week_sum_10_ratio',
 'kt_week_sum_11_ratio',
 'kt_week_sum_12_ratio',
 'kt_week_sum_13_ratio',
 'kt_week_sum_14_ratio',
 'kt_week_sum_15_ratio',
 'kt_week_sum_16_ratio',
 'kt_week_sum_17_ratio',
 'kt_week_sum_18_ratio',
 'kt_week_sum_19_ratio',
 'kt_week_sum_20_ratio',
 'kt_week_sum_21_ratio',
 'kt_week_sum_22_ratio',
 'kt_week_sum_23_ratio',
 'dt_week_cnt_0_ratio',
 'dt_week_cnt_1_ratio',
 'dt_week_cnt_2_ratio',
 'dt_week_cnt_3_ratio',
 'dt_week_cnt_4_ratio',
 'dt_week_cnt_5_ratio',
 'dt_week_cnt_6_ratio',
 'dt_week_cnt_7_ratio',
 'dt_week_cnt_8_ratio',
 'dt_week_cnt_9_ratio',
 'dt_week_cnt_10_ratio',
 'dt_week_cnt_11_ratio',
 'dt_week_cnt_12_ratio',
 'dt_week_cnt_13_ratio',
 'dt_week_cnt_14_ratio',
 'dt_week_cnt_15_ratio',
 'dt_week_cnt_16_ratio',
 'dt_week_cnt_17_ratio',
 'dt_week_cnt_18_ratio',
 'dt_week_cnt_19_ratio',
 'dt_week_cnt_20_ratio',
 'dt_week_cnt_21_ratio',
 'dt_week_cnt_22_ratio',
 'dt_week_cnt_23_ratio',
 'kt_week_cnt_0_ratio',
 'kt_week_cnt_1_ratio',
 'kt_week_cnt_2_ratio',
 'kt_week_cnt_3_ratio',
 'kt_week_cnt_4_ratio',
 'kt_week_cnt_5_ratio',
 'kt_week_cnt_6_ratio',
 'kt_week_cnt_7_ratio',
 'kt_week_cnt_8_ratio',
 'kt_week_cnt_9_ratio',
 'kt_week_cnt_10_ratio',
 'kt_week_cnt_11_ratio',
 'kt_week_cnt_12_ratio',
 'kt_week_cnt_13_ratio',
 'kt_week_cnt_14_ratio',
 'kt_week_cnt_15_ratio',
 'kt_week_cnt_16_ratio',
 'kt_week_cnt_17_ratio',
 'kt_week_cnt_18_ratio',
 'kt_week_cnt_19_ratio',
 'kt_week_cnt_20_ratio',
 'kt_week_cnt_21_ratio',
 'kt_week_cnt_22_ratio',
 'kt_week_cnt_23_ratio']

## Вариант 1. Попробуем дискретизировать матрицу

In [35]:
%%time
est = KBinsDiscretizer(n_bins=3, encode='onehot-dense', strategy='kmeans')
est.fit(df_sum)
Xtrain = est.transform(df_sum.iloc[:1000,])
Xtest = est.transform(df_sum.iloc[1001:2000,])

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 3 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 6 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 15 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 39 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 56 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 78 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 98 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 121 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 132 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 146 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 158 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 161 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 177 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 179 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 183 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 187 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 188 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 189 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 195 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 197 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 199 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 201 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

CPU times: user 9.3 s, sys: 174 ms, total: 9.47 s
Wall time: 9.48 s

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:184: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  centers = km.fit(column[:, None]).cluster_centers_[:, 0]
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 207 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

In [46]:
Xtrain.shape

(1000, 601)

In [53]:
train = pd.concat([df.iloc[:1000,]['hash_inn'], pd.DataFrame(Xtrain)], axis=1)
train.head()

,hash_inn,0,1,2,3,4,5,6,7,8,...,591,592,593,594,595,596,597,598,599,600
0,61058,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,8311,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,64081,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,218005,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,159729,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [60]:
user_to_product_rating_train = pd.melt(train, id_vars=['hash_inn'])
user_to_product_rating_train.shape

(601000, 3)

In [61]:
user_to_product_rating_train.head()

   hash_inn variable  value
0     61058        0    1.0
1      8311        0    1.0
2     64081        0    1.0
3    218005        0    1.0
4    159729        0    1.0

In [62]:
test = pd.concat([df.iloc[10001:2000,]['hash_inn'], pd.DataFrame(Xtest)], axis=1)
user_to_product_rating_test = pd.melt(test, id_vars=['hash_inn'])

In [63]:
# generate user_item_interaction_matrix for train data
user_to_product_interaction_train = get_interaction_matrix(user_to_product_rating_train, "hash_inn", 
                                                    "variable", "value", user_to_index_mapping, item_to_index_mapping)

# generate user_item_interaction_matrix for test data
user_to_product_interaction_test = get_interaction_matrix(user_to_product_rating_test, "hash_inn", 
                                                    "variable", "value", user_to_index_mapping, item_to_index_mapping)

KeyError: 80

In [36]:
train = sparse.coo_matrix(Xtrain)
test = sparse.coo_matrix(Xtest)

In [42]:
import time
from lightfm.evaluation import auc_score
# initialising model with warp loss function
model_without_features = LightFM(loss = "warp")

# fitting into user to product interaction matrix only / pure collaborative filtering factor
start = time.time()
#===================

model_without_features.fit(train,
          user_features=None, 
          item_features=None, 
          sample_weight=None, 
          epochs=1, 
          num_threads=4,
          verbose=False)

#===================
end = time.time()
print("time taken = {0:.{1}f} seconds".format(end - start, 2))

# auc metric score (ranging from 0 to 1)

start = time.time()
#===================

auc_without_features = auc_score(model = model_without_features, 
                        test_interactions = test,
                        num_threads = 4, check_intersections = False)
#===================
end = time.time()

print("time taken = {0:.{1}f} seconds".format(end - start, 2))
print("average AUC without adding item-feature interaction = {0:.{1}f}".format(auc_without_features.mean(), 2))

time taken = 0.16 seconds

ValueError: Incorrect number of features in user_features

## Lightfm

In [30]:
def get_user_list(df, user_column):
    """
    
    creating a list of user from dataframe df, user_column is a column 
    consisting of users in the dataframe df
    
    """
    
    return np.sort(df[user_column].unique())

def get_item_list(df, item_name_column):
    
    """
    
    creating a list of items from dataframe df, item_column is a column 
    consisting of items in the dataframe df
    
    return to item_id_list and item_id2name_mapping
    
    """
    
    item_list = df[item_name_column].unique()
    
    
    return item_list

def get_feature_list(aisle_df, department_df, aisle_name_column, department_name_column):
    
    aisle = aisle_df[aisle_name_column]
    department = department_df[department_name_column]
    
    return pd.concat([aisle, department], ignore_index = True).unique()

# creating user_id, item_id, and features_id

def id_mappings(user_list, item_list, feature_list):
    """
    
    Create id mappings to convert user_id, item_id, and feature_id
    
    """
    user_to_index_mapping = {}
    index_to_user_mapping = {}
    for user_index, user_id in enumerate(user_list):
        user_to_index_mapping[user_id] = user_index
        index_to_user_mapping[user_index] = user_id
        
    item_to_index_mapping = {}
    index_to_item_mapping = {}
    for item_index, item_id in enumerate(item_list):
        item_to_index_mapping[item_id] = item_index
        index_to_item_mapping[item_index] = item_id
        
    feature_to_index_mapping = {}
    index_to_feature_mapping = {}
    for feature_index, feature_id in enumerate(feature_list):
        feature_to_index_mapping[feature_id] = feature_index
        index_to_feature_mapping[feature_index] = feature_id
        
        
    return user_to_index_mapping, index_to_user_mapping, \
           item_to_index_mapping, index_to_item_mapping, \
           feature_to_index_mapping, index_to_feature_mapping


def get_user_product_interaction(orders_df, order_products_train_df, order_products_test_df, products_df):
    
    # creating a dataframe consists of TWO columns user_id, and product_name (product bought by the user) for the train data
    user_to_product_train_df = orders_df[orders_df["eval_set"] == "prior"][["user_id", "order_id"]].\
    merge(order_products_train_df[["order_id", "product_id"]]).merge(products_df[["product_id", "product_name"]])\
    [["user_id", "product_name"]].copy()
    
    # giving rating as the number of product purchase count
    user_to_product_train_df["product_count"] = 1
    user_to_product_rating_train = user_to_product_train_df.groupby(["user_id", "product_name"], as_index = False)["product_count"].sum()
    
    # creating a dataframe consists of TWO columns user_id, and product_name (product bought by the user) for the test data
    user_to_product_test_df = orders_df[orders_df["eval_set"] == "train"][["user_id", "order_id"]].\
    merge(order_products_test_df[["order_id", "product_id"]]).merge(products_df[["product_id", "product_name"]])\
    [["user_id", "product_name"]].copy()
    
    # giving rating as the number of product purchase count (including the previous purchase in the training data)
    user_to_product_test_df["product_count"] = 1
    user_to_product_rating_test = user_to_product_test_df.groupby(["user_id", "product_name"], as_index = False)["product_count"].sum()
    
    # merging with the previous training user_to_product_rating_training
    
    user_to_product_rating_test = user_to_product_rating_test.\
    merge(user_to_product_rating_train.rename(columns = {"product_count" : "previous_product_count"}), how = "left").fillna(0)
    user_to_product_rating_test["product_count"] = user_to_product_rating_test.apply(lambda x: x["previous_product_count"] + \
                                                                                    x["product_count"], axis = 1)
    user_to_product_rating_test.drop(columns = ["previous_product_count"], inplace = True)
    
    return user_to_product_rating_train, user_to_product_rating_test

def get_interaction_matrix(df, df_column_as_row, df_column_as_col, df_column_as_value, row_indexing_map, 
                          col_indexing_map):
    
    row = df[df_column_as_row].apply(lambda x: row_indexing_map[x]).values
    col = df[df_column_as_col].apply(lambda x: col_indexing_map[x]).values
    value = df[df_column_as_value].values
    
    return coo_matrix((value, (row, col)), shape = (len(row_indexing_map), len(col_indexing_map)))

def get_product_feature_interaction(product_df, aisle_df, department_df, aisle_weight = 1, department_weight = 1):
    item_feature_df = product_df.merge(aisle_df).merge(department_df)[["product_name", "aisle", "department"]]
    
    # start indexing
    item_feature_df["product_name"] = item_feature_df["product_name"]
    item_feature_df["aisle"] = item_feature_df["aisle"]
    item_feature_df["department"] = item_feature_df["department"]
    
    # allocate aisle and department into one column as "feature"
    
    product_aisle_df = item_feature_df[["product_name", "aisle"]].rename(columns = {"aisle" : "feature"})
    product_aisle_df["feature_count"] = aisle_weight # adding weight to aisle feature
    product_department_df = item_feature_df[["product_name", "department"]].rename(columns = {"department" : "feature"})
    product_department_df["feature_count"] = department_weight # adding weight to department feature
    
    # combining aisle and department into one
    product_feature_df = pd.concat([product_aisle_df, product_department_df], ignore_index=True)
    
    # saving some memory
    del item_feature_df
    del product_aisle_df
    del product_department_df
    
    
    # grouping for summing over feature_count
    product_feature_df = product_feature_df.groupby(["product_name", "feature"], as_index = False)["feature_count"].sum()
    
    
    return product_feature_df

In [18]:
users = get_user_list(df, "hash_inn")
items = get_item_list(df, "target")

In [23]:
users

array([     1,      3,      5, ..., 260511, 260512, 260513])

In [24]:
items

array([34, 18, 43, 12,  5, 54, 14, 52,  8, 61,  4, 68, 25, 47, 26, 21, 50,
       16, 11, 41, 74,  6,  3, 67, 62, 55,  9, 38, 23, 46, 39, 76, 42, 31,
       71, 22, 64, 30, 77, 60, 56, 53,  7, 32, 19, 45, 57,  0, 48, 29, 79,
       33, 28, 15,  2, 65, 44, 10, 70, 59, 69, 37, 78, 27, 51, 20, 24, 58,
       66, 63, 36, 35, 40, 75, 17, 49, 13, 72, 73,  1])

In [25]:
# фичи, которые относятся к таргету (например какой ОКАТО, размер бизнеса итп)
# features = get_feature_list(aisles, departments, "aisle", "department")

In [19]:
# generate mapping, LightFM library can't read other than (integer) index
user_to_index_mapping, index_to_user_mapping, \
           item_to_index_mapping, index_to_item_mapping, \
           = id_mappings(users, items)

In [ ]:
user_to_product_interaction_train = get_interaction_matrix(user_to_product_rating_train, "user_id", 
                                                    "product_name", "product_count", user_to_index_mapping, item_to_index_mapping)